<% var
pageTitle = "";
pageId = "contact";
pageUrl = "/form_contact/";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header">
      <div class="l-section__inner page-header__inner">
        <h1 class="page-header__title">Contact</h1>
      </div>
    </section>
    <section class="l-section page-contents contact-main">
      <div class="l-section__inner page-contents__inner contact-main__inner">
        <%# <form action="" method="">
          <div class="contact-form">
            <div class="contact-form__item form-item">
              <p class="form-item__title">氏名<span class="required">必須</span></p>
              <p class="form-item__input">
                <input type="text" name="your-name" value="" placeholder="山田太郎" required="required">
              </p>
            </div>
            <div class="contact-form__item form-item">
              <p class="form-item__title">メールアドレス<span class="required">必須</span></p>
              <p class="form-item__input">
                <input type="text" name="your-mail" value="" placeholder="examle@example.com" required="required">
              </p>
            </div>
            <div class="contact-form__item form-item">
              <p class="form-item__title">電話番号</p>
              <p class="form-item__input">
                <input type="tel" name="your-tel" value="" placeholder="123-456-7890">
              </p>
            </div>
            <div class="contact-form__item form-item">
              <p class="form-item__title">メッセージ内容<span class="required">必須</span></p>
              <p class="form-item__input">
                <textarea name="your-messege" value="" placeholder="メッセージをご記入ください"></textarea>
              </p>
            </div>
            <div class="contact-form__action">
              <input type="submit" value="送信する" class="button">
            </div>
          </div>
        </form>%>
        <iframe class="hide-sp" src="https://docs.google.com/forms/d/e/1FAIpQLSeGJBBmp1y5RvX3k-Qj8RWGbqCfPC5Mh3EUfUeR6OWbRZl5gw/viewform?embedded=true" width="684" height="800" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます...</iframe>
        <iframe class="show-sp" src="https://docs.google.com/forms/d/e/1FAIpQLSeGJBBmp1y5RvX3k-Qj8RWGbqCfPC5Mh3EUfUeR6OWbRZl5gw/viewform?embedded=true" width="320" height="800" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます...</iframe>
      </div>
    </section>
<% include _footer %>
