<% var
pageTitle = "";
pageId = "event-detail";
pageUrl = "event-detail.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header event-header">
      <div class="l-section__inner page-header__inner event-header__inner">
        <a href="/event-list.html" class="page-header__back event-header__back">Events</a>
        <p class="date">2017.05.27 Sat</p>
        <h1 class="title">WORLD INTERIOR DAY 国際デザインシンポジウム</h1>
        <span class="place">at インターナショナルデザイン・リエゾンセンター（東京ミッドタウン・デザインハブ内）</span>
      </div>
    </section>
    <section class="l-section page-contents event-article">
      <div class="l-section__inner page-contents__inner event-article__inner">
        <div class="event-detail">
          <div class="event-detail__body event-detail-body">
            <img src="/images/event_01.jpg" alt="" class="image">
            <h2 class="headline">見出しテキスト見出しテキスト</h2>
            <p class="body">
              親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。<br>
              親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。
            </p>
          </div>
          <div class="event-detail__info event-info">
            <div class="event-info__body event-info-body">
              <div class="event-info-body__item">
                <h3 class="headline">会期</h3>
                <p class="body">2017年5月27日（土）</p>
              </div>
              <div class="event-info-body__item">
                <h3 class="headline">会場</h3>
                <div class="event-address">
                  <h4 class="name">東京ミッドタウン・デザインハブ</h4>
                  <p class="address">〒107-6205 東京都港区赤坂9-7-1 ミッドタウン・タワー5F</p>
                  <div class="embeded-map" id="js-embeded-map">

                  </div>
                </div>
              </div>
              <div class="event-info-body__item">
                <h3 class="headline">主催</h3>
                <p class="body">東京ミッドタウン・デザインハブ</p>
              </div>
              <div class="event-info-body__item">
                <h3 class="headline">企画・運営</h3>
                <p class="body">
                  World Interiors Week in JAPAN 実行委員会（WIW）<br>
                  公益社団法人日本インテリアデザイナー協会（JID）<br>
                  公益財団法人日本デザイン振興会（JDP）
                </p>
              </div>
              <div class="event-info-body__item">
                <h3 class="headline">会場基本構成</h3>
                <p class="body">公益社団法人日本インテリアデザイナー協会（JID）</p>
              </div>
              <div class="event-info-body__item">
                <h3 class="headline">アートディレクション・会場構成</h3>
                <p class="body">廣村デザイン事務所</p>
              </div>
              <div class="event-info-body__item">
                <h3 class="headline">出展予定</h3>
                <p class="body">株式会社エーディコア・ディバイズ／カリモク家具株式会社／株式会社キタニジャパン／KOHLER(日鉄住金物産マテックス株式会社）／COSENTINO（コセンティーノ・ジャパン株式会社）／株式会社サンゲツ／GERVASONI JAPAN（南陽オモビト株式会社）／DURAVIT(デュラビット・ジャパン株式会社)／skantherm/conmoto（株式会社ワンダーバル）／TOMOLY JAPAN (八紘電機株式会社)／株式会社ハナムラ／Hansgrohe(ハンスグローエジャパン株式会社)／株式会社平田タイル／株式会社フジエテキスタイル／マナトレーディング株式会社／Magis Japan株式会社／リュウコゼキデザインスタジオ（RKDS）</p>
              </div>
            </div>
          </div>
          <div class="event-detail__entry">
            <a href="/form_contact/" class="button">JOIN</a>
          </div>
        </div>
      </div>
    </section>
    <script>
      function initMap() {
        var myLatLng = {lat: 35.658581, lng: 139.745433};

        var map = new google.maps.Map(document.getElementById('js-embeded-map'), {
          zoom: 14,
          center: myLatLng,
          styles: [
            {
              "featureType": "all",
              "elementType": "all",
              "stylers": [
                {
                  "saturation": -100
                },
                {
                  "gamma": "1"
                }
              ]
            }
          ]
        });

        var imagePath = '/images/map_pin.png';
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: imagePath
        });
      }
      initMap();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg54N9LTZJpbLVUKn-THCNkEX3bTeSTbE&callback=initMap"></script>
<% include _footer %>
