    </main>
    <footer class="l-footer footer" id="footer">
      <div class="l-footer__inner">
        <div class="footer-logo">
          <svg role="image" class="footer-logo__logo svg-icon">
            <use xlink:href="/images/icons.svg#logo" />
          </svg>
        </div>
        <nav class="footer-nav">
          <div class="footer-nav__col">
            <a href="/about/" class="footer-nav__item">About</a>
            <a href="/events/" class="footer-nav__item">Events</a>
            <a href="/events/event-1/" class="footer-nav__item is-child">Event 1</a>
            <a href="/events/event-2/" class="footer-nav__item is-child">Event 2</a>
            <a href="/events/event-3/" class="footer-nav__item is-child">Event 3</a>
            <a href="/events/event-4/" class="footer-nav__item is-child">Event 4</a>
            <a href="/calendar/" class="footer-nav__item is-child">Event Calendar</a>
          </div>
          <div class="footer-nav__col">
            <a href="/news/" class="footer-nav__item">News</a>
            <a href="/2016/" class="footer-nav__item">Archive</a>
            <a href="/form_contact/" class="footer-nav__item">Contact</a>
          </div>
          <div class="footer-nav__col">
            <a href="https://www.facebook.com/World-Interiors-Day-1614209928791677/" class="footer-nav__item is-icon" target="_blank">
              <svg role="image" class="svg-icon is-facebook">
                <use xlink:href="/images/icons.svg#icon_facebook" />
              </svg>
            </a>
            <% if (isEnglish) { %>
            <a href="/<%= pageUrl %>" class="footer-nav__item">Japanese</a>
            <% } else { %>
            <a href="/en/about/" class="footer-nav__item">English</a>
            <% } %>
          </div>
        </nav>
        <p class="footer-copyright">Copyright &copy; 2016 <br class="show-sp">World Interiors Week, All Rights Reserved.</p>
        <a href="#body" class="go-top js-smooth-scroll">
          <svg role="image" class="svg-icon is-go-top">
            <use xlink:href="/images/icons.svg#icon_go-top" />
          </svg>
        </a>
      </div>
    </footer>
  </div>
<% if (fbAppId) { %>
<!-- Facebook SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<% } %>
<script src="/js/main.js"></script>
<script src="/js/svg4everybody.min.js"></script>
<script>svg4everybody();</script>
</body>
</html>
