<% var
pageTitle = "";
pageId = "about";
pageUrl = "about.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section">
      <div class="slider js-bg-slider about-slider">
        <div class="slider__item about-slider__item about-slider-item">
          <img src="/images/slide_about_01.jpg" class="about-slider-item__image">
        </div>
        <div class="slider__item about-slider__item about-slider-item">
          <img src="/images/slide_about_02.jpg" class="about-slider-item__image">
        </div>
        <div class="slider__item about-slider__item about-slider-item">
          <img src="/images/slide_about_03.jpg" class="about-slider-item__image">
        </div>
      </div>
    </section>
    <section class="l-section about-section">
      <div class="l-section__inner about-profile">
        <div class="about-profile__body">
          <h2 class="headline">ワールドインテリアウィーク2017　ご挨拶</h2>
          <p class="body">
            素敵なインテリアで暮らすことは、いつも私達が思う夢の世界です。<br>
            今、日本の多くの場所で、暮らしを再考しようとする動きがあります。<br>
            古民家再生や地域産業の活性化、そして、それらをグローバル視点で捉える日本のデザインの立ち上げが始まろうとしています。欧米やアジアを中心に世界の国々の暮らしは、利便性だけでなく、それぞれの地域や家庭、そして一人一人の個性を日常生活で表現するのが一般的になっています。特にアジアの国々のインテリアブームと関連産業の発展は、目覚ましいものがあります。<br>
            ワールドインテリアウィークは、その時勢を見据えて世界にその絆を拡げています。振り返って、その起源は1963年に北欧を中心とするインテリア協会が非営利団体としてデンマークから始まり、今ではアジアを含めて世界中の国々がIFIメンバーとして活動しています。日本は、1977年にアジア地域から初めてデザイナー団体として加入。そして、改めて2016年、公益社団法人日本インテリアデザイナー協会、公益財団法人日本デザイン振興会共々、このワールドインテリアウィークを本格的に日本に定着させようと動き出しました。これまでの衣・食・住が、住・食・衣に変わるかもしれません。日常の暮らしは、生活文化や産業経済、そして何よりも思いやりを育てる土壌であると思います。
          </p>
          <p class="body">
            WIW実行委員長/JID前理事長　喜多俊之
          </p>
        </div>
        <div class="about-profile__image">
          <img src="/images/kita.jpg" alt="喜多俊之">
        </div>
      </div>
    </section>
    <section class="l-section about-section">
      <div class="l-section__inner">
        <h2 class="headline">『インテリアの時代です』</h2>
        <p class="body">
          日本におけるインテリアデザインは、住宅事情を反映してか、諸外国と比べ遅れを取っていたのが現状です。<br>
          ただし、暮らし再考の風潮を受け、昨今はインテリアが見直されつつあります。<br>
          そこで、2016年から始動する「World Interiors Week in JAPAN」を契機に、インテリアデザインが社会、文化、私たちの将来の生活環境に果たす役割について、積極的に生活者とともに考える機会を設けたいと考えました。
        </p>
        <p class="body">
          公益社団法人日本インテリアデザイナー協会（前理事長：喜多俊之、略称：JID）と公益財団法人日本デザイン振興会（会長：川上元美、略称：JDP）は、2016年5月下旬よりインテリアデザインの振興を目的に「World Interiors Week  in JAPAN」を共同で開催します。<br>
          The International Federation of Interior Architects/Designers（略称：IFI/ 国際インテリアアーキテクト/デザイナー団体連合）が推奨しているIFI「World Interiors Day」を受けて、IFIのメンバーであるJIDとJDPは、この活動を支援するとともに日本ではさらに拡張させ毎年5月最終土曜日を含めた１週間を「World Interiors Week  in JAPAN」と称し広範囲な運動を展開します。<br>
          東京ミッドタウン・デザインハブを主会場とし、IFI世界共有テーマを掲げて全国規模で展開するイベントです。<br>
          シンポジウムやセミナー、企画展、交流会などを国内各地の自治体や、メーカー、デザイナー、教育機関などと連携して実施するもので、インテリアデザインや、住宅産業の活性化を目的として開催します。
        </p>
      </div>
    </section>
    <section class="l-section about-section">
      <div class="l-section__inner">
        <h2 class="headline">EFFECT/趣旨</h2>
        <h3 class="sub-headline">インテリアデザインの役割は私たちの将来のより良い環境をつくること 社会・文化を豊かにすること</h3>
        <p class="body">
          「World Interiors Week  in JAPAN」(略称：WIW) はIFI（国際インテリアアーキテクト／デザイナー団体連合）が全世界共通のテーマでインテリアデザインの果たす役割について考える日として、毎年5月最終土曜日に設定してい る”WORLD INTERIORS DAY” を受けて、2016年より初めて国内規模で展開するウィークイベントです。 インテリアデザインが社会、文化、私たちの将来の暮らしと環境に果たす役割について、皆様と共に積 極的に理解を深める運動です。日本では5月の終週土曜日を含めた1週間に開催します。
        </p>
        <p class="body">
          IFIのメンバーであるJIDとJDPは、4つのミッションとIFIが掲げる世界共通テーマを共有してさまざまな活動をします。
        </p>
        <img src="/images/network.png" alt="" style="display: block;margin: 20px auto; max-width: 96%;">
        <h2 class="headline">ミッション</h2>
        <h3 class="sub-headline">
          1 『みんなでつくる』参加運動の支援<br>
        </h3>
        <h4 class="sub-sub-headline">
          参加型自主イベント/地域ネットワークイベント
        </h4>
        <p class="body">
          創造性、想像力、ビジョンと情熱を傾けるインテリアデザインの専門家が、暮らしを大切にしている市民、デザイン愛好家の方々と連携して積極的に行動する全国的な自主参加イベント、地域ネットワークイベントを支援します。
        </p>
        <h3 class="sub-headline">
          2 『日本と世界がつながる』
        </h3>
        <h4 class="sub-sub-headline">
          ワールドトレンドレポート
        </h4>
        <p class="body">
          東京ミッドタウン・デザインハブを拠点にさまざまな活動・イベントなどの情報を発信します。グローバルプラットフォームの一躍を担い全ての団体、企業、個人とコラボレイトしたインテリアに関する国内での大規模な催し、国際展示会情報、最新トレンドなどを情報発信します。
        </p>
        <h3 class="sub-headline">
          3 『デザイン力』の再発見
        </h3>
        <h4 class="sub-sub-headline">
          「デザイナーの流儀展」2016,「Next  Generations -インテリアデザイナー展」　2017など特別企画展
        </h4>
        <p class="body">
          メーカー企業とモノづくりに取り組むデザイナー・建築家・クリエーターの多岐にわたる貢献を紹介し、「デザイン」をいかに効果的、且つ経済的に取り組めるか、デザイン力啓発の機会とします。
        </p>
        <h3 class="sub-headline">
          4 『暮らしの質』を高める
        </h3>
        <h4 class="sub-sub-headline">
          World Interiors Day 国際デザインシンポジウム
        </h4>
        <p class="body">
          「WORLD INTERIORS DAY」および「IFIインテリア宣言」の普及とより深い理解のため、世界共通テー マに沿ったトークセッションなど、毎年5月最終土曜日に国際デザインシンポジウムを行います。WIW のさまざまなイベントに参加した人が生活環境を見つめ直すことは、暮らしやインテリアデザインの質の向上につながります。私たちの将来の良い環境をつくることを目的としています。2016年テーマは“Interiors Intelligence”でした。2017年テーマは“Interior design for generations”です。
        </p>
        <%# <p class="image">
          <img src="/images/network.png" alt="">
        </p>%>
      </div>
    </section>
    <section class="l-section about-section">
      <div class="l-section__inner">
        <h2 class="headline">BACKGROUND/背景</h2>
        <h3 class="sub-headline">日本とIFI</h3>
        <p class="body">
          JIDは1977年、アジア地域から初めてデザイナー団体として加盟。<br>
          以来隔年ごとに開催される総会に代表を派遣し日本のインテリアデザイン発展に寄与してきました。<br>
          この間IFIの出版活動をはじめ人的交流など積極的に参加し、1995年の第15回総会においては国際会議を名古屋市の後援を得て招致、IFI史上に残る国際会議を成功させました。<br>
          これを機会に国内におけるインテリアデザインの理解をより一層深めることが出来ました。<br>
          JIDはまた1993年から8年間IFIに理事を送り、国際的発言の場と、運営に関与しその役割を果たしてきました。<br>
          世界のインテリアデザイナーの職能、インテリアデザインの存在意義についての「インテリア宣言」にも強く拘ってきました。<br>
          2013年には、IFI創立50周年記念行事の一環として理事会を日本で開催、あわせて「IFIインテリアデザイン国際フォーラム2013」を実施、インテリアデザインの今日的な様々な課題の検証と、関連業界およびデザイン教育などの問題を国際間で共有し問題解決へと進める機会を得ました。<br>
          またこの間に神戸市と名古屋市に於いてユネスコの同意を得た「インテリア宣言」の認証式が執り行われるなどの成果を上げることができました。<br>
          2014年度より再度IFI理事会に理事を送り、国際的視野と国内だけでは解決できない様々な問題にJIDとして対処し国際貢献をはたしています。<br>
          IFIには国内では、日本インテリアデザイナー協会(JID)、日本デザイン振興会(JDP）の2団体がメンバーとして参画、共にインテリア環境の発展と国際活動を推進しています。
        </p>
        <h3 class="sub-headline">IFIとは</h3>
        <p class="body">
          The International Federation of Interior Architects/Designers = IFI（国際インテリアアーキテクト／デザイナー団体連合）は、1963年に北欧を中心とするインテリアデザイナー協会が非営利団体としてコペンハーゲンに創設した国際組織です。<br>
          現在は本部をニューヨークに置き、加盟団体はインテリアデザイナー団体・インテリア産業界、大学を含むデザイン教育分野、デザイン振興団体など広範囲におよび、参加国110カ国、会員総数270,000人の国際団体連合です。IFIはまた、職能に関わる国際問題の把握、関連する研究および調査の実施、世界のデザイン教育カリキュラムや、教育レベルの現状把握と国際基準規定の検討などについて広範囲な情報収集と情報交換を行い、発展的な提案のための対話の場を提供、いわゆるグローバルプラットフォームとして機能し、国際社会を繋ぐ役割を担っています。<br>
          現在の理事長は、Sebastiano Renari (イタリア)。イタリアデザイナー協会 D’INTERNIの元会長(2008-2014)。
        </p>
        <h3 class="sub-headline">「IFIインテリア宣言」とは</h3>
        <p class="body">
          2009年に提起され2011年のIFI台北総会で批准され、世界のインテリアデザイナーの職能、インテリアデザインの存在意識と効果についての宣言書です。 UNESCOも認証しています。<br>
          IFIは世界50 ヶ国以上の都市での承認を目標に活動しています。<br>
          国内では2013年に名古屋市と神戸市が宣言を承認しました。<br>
          現在、123都市で承認と公式宣言があり、 2016年に上海市（中国）、今後、Helsinki (フィンランド)、Izmir、Istanbul (トルコ)、 Milan、Sicily (イタリア)の承認が予定されています。
        </p>
        <h3 class="sub-headline">「World Interiors Day」とは</h3>
        <p class="body">
          IFIが世界共通のテーマを掲げてインテリアデザインを考える日として、毎年5月最終土曜日を「World Interiors Day」と推奨しています。<br>
          インテリアの職能の役割、生活の質と建築環境への影響を強調したイベントにIFIが先頭に立ちホストを果たし、世界中の参加国と繋がって開催する国際イベントです。
        </p>
        <p class="body">
          2015年のテーマは「Design For All」、日本でもJIDとJDPが共催で5月30日（土）にキックオフイベントを実施しました。<br>
          2016年のテーマは「Interiors Intelligence」、2017年テーマは「Interior Design For Generations」、 2015年11月IFI 総会で正式発表がありました。
        </p>
      </div>
    </section>
    <section class="l-section about-section">
      <div class="l-section__inner">
        <h2 class="headline">PATRONAGE/後援 (2017年度)</h2>
        <p class="body">
          経済産業省<br>
          神戸市<br>
          名古屋市<br>
          スペイン大使館経済商務部<br>
          公益社団法人インテリア産業協会<br>
          公益社団法人日本建築家協会<br>
          公益社団法人日本インダストリアルデザイナー協会<br>
          公益社団法人日本クラフトデザイン協会<br>
          公益社団法人日本グラフィックデザイナー協会<br>
          公益社団法人日本サインデザイン協会<br>
          公益社団法人日本ジュエリーデザイナー協会<br>
          公益社団法人日本パッケージデザイン協会<br>
          公益社団法人商業施設技術団体連合会<br>
          一般社団法人日本空間デザイン協会<br>
          一般社団法人日本商環境デザイン協会<br>
          一般社団法人日本インテリアプランナー協会<br>
          一般社団法人日本テキスタイルデザイン協会<br>
          一般社団法人日本インテリアファブリックス協会<br>
          一般社団法人日本建築材料協会<br>
          株式会社国際デザインセンター
        </p>
      </div>
    </section>
<% include _footer %>
