<% var
pageTitle = "World Interiors Week 2017 in NAGOYA";
pageId = "calendar-detail";
pageUrl = "calendar-detail_11.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header event-header">
      <div class="l-section__inner page-header__inner event-header__inner">
        <a href="/calendar-list.html" class="page-header__back event-header__back">Event Calendar</a>
        <p class="date">2017.5.26 Fri - 2017.5.28 San</p>
        <h1 class="title">World Interiors Week 2017 in NAGOYA</h1>
        <span class="place">at &#9312; ミッドランドホール　会議室B</span>
        <span class="place">at &#9313; テレビ塔広場</span>
      </div>
    </section>
    <section class="l-section page-contents event-article">
      <div class="l-section__inner page-contents__inner event-article__inner">
        <div class="event-detail">
          <div class="event-detail__body event-detail-body is-calendar">
            <p class="body">
              &#9312; ワールドトレンドセミナー/交流サロン（2017.5.26 Fri）<br>&#9313; WIW市民向けイベント「インテリア無料相談会」(2017.5.27 Sat - 2017.5.28 San)
            </p>
            <div class="event-files">
              <a href="/pdf/wiw2017innagoya.pdf" class="event-files__item" target="_blank">ご案内<span class="file-type">PDF</span></a>
            </div>
          </div>
          <div class="event-detail__info event-info">
            <h2 class="event-info__title">Access</h2>
            <div class="event-info__body event-info-body">
              <div class="event-info-body__item">
                <div class="event-address">
                    <h3 class="name">ミッドランドホール　会議室B</h3>
                    <p class="address">〒450-6205 名古屋市中村区名駅4-7-1 ミッドランドスクエア　オフィスタワー5F</p>
                    <div class="embeded-map" id="js-embeded-map-1"></div>
                    <h3 class="name">テレビ塔広場</h3>
                    <p class="address">〒460-0003 名古屋市中区錦３丁目６−１５</p>
                    <div class="embeded-map" id="js-embeded-map-2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      function initMap() {
        var myLatLng1 = {lat: 35.169886, lng: 136.885203};
        var myLatLng2 = {lat: 35.172364, lng: 136.908309};

        var map1 = new google.maps.Map(document.getElementById('js-embeded-map-1'), {
          zoom: 16,
          center: myLatLng1,
          styles: [
            {
              "featureType": "all",
              "elementType": "all",
              "stylers": [
                {
                  "saturation": -100
                },
                {
                  "gamma": "1"
                }
              ]
            }
          ]
        });

        var map2 = new google.maps.Map(document.getElementById('js-embeded-map-2'), {
          zoom: 16,
          center: myLatLng2,
          styles: [
            {
              "featureType": "all",
              "elementType": "all",
              "stylers": [
                {
                  "saturation": -100
                },
                {
                  "gamma": "1"
                }
              ]
            }
          ]
        });

        var imagePath = '/images/map_pin.png';
        var marker1 = new google.maps.Marker({
          position: myLatLng1,
          map: map1,
          icon: imagePath
        });
        var marker2 = new google.maps.Marker({
          position: myLatLng2,
          map: map2,
          icon: imagePath
        });
      }
      initMap();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg54N9LTZJpbLVUKn-THCNkEX3bTeSTbE&callback=initMap"></script>
<% include _footer %>
