<% var
pageTitle = "「女性インテリア先駆者たちの道のり」";
pageId = "calendar-detail";
pageUrl = "calendar-detail_02.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header event-header">
      <div class="l-section__inner page-header__inner event-header__inner">
        <a href="/calendar-list.html" class="page-header__back event-header__back">Event Calendar</a>
        <p class="date">2017.5.26 Fri</p>
        <h1 class="title"><%= pageTitle %></h1>
        <span class="place">at AIDEC 大阪ショールーム</span>
      </div>
    </section>
    <section class="l-section page-contents event-article">
      <div class="l-section__inner page-contents__inner event-article__inner">
        <div class="event-detail">
          <div class="event-detail__body event-detail-body is-calendar">
            <p class="body">
              有料 1,500円<br>
              18:00 - 22:00 （会場17:30) ポトラックパーティ 20:00 - 21:30
            </p>
            <div class="event-files">
              <a href="/pdf/wiw2017inosaka.pdf" class="event-files__item" target="_blank">ご案内<span class="file-type">PDF</span></a>
            </div>
          </div>
          <div class="event-detail__info event-info">
            <h2 class="event-info__title">Access</h2>
            <div class="event-info__body event-info-body">
              <div class="event-info-body__item">
                <div class="event-address">
                  <h3 class="name">AIDEC 大阪ショールーム</h3>
                  <p class="address">大阪市西区新町1-10-2 大阪産業ビル1階</p>
                  <div class="embeded-map" id="js-embeded-map">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      function initMap() {
        var myLatLng = {lat: 34.677876, lng: 135.496872};

        var map = new google.maps.Map(document.getElementById('js-embeded-map'), {
          zoom: 14,
          center: myLatLng,
          styles: [
            {
              "featureType": "all",
              "elementType": "all",
              "stylers": [
                {
                  "saturation": -100
                },
                {
                  "gamma": "1"
                }
              ]
            }
          ]
        });

        var imagePath = '/images/map_pin.png';
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: imagePath
        });
      }
      initMap();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg54N9LTZJpbLVUKn-THCNkEX3bTeSTbE&callback=initMap"></script>
<% include _footer %>
