<% var
pageTitle = "お気に入りの居場所をつくる家具";
pageId = "calendar-detail";
pageUrl = "calendar-detail_14.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header event-header">
      <div class="l-section__inner page-header__inner event-header__inner">
        <a href="/calendar-list.html" class="page-header__back event-header__back">Event Calendar</a>
        <p class="date">2017.4.29 Sat - 2017.6.30 Fri</p>
        <h1 class="title"><%= pageTitle %></h1>
        <span class="place">at カンディハウス東京ショップ</span>
      </div>
    </section>
    <section class="l-section page-contents event-article">
      <div class="l-section__inner page-contents__inner event-article__inner">
        <div class="event-detail">
          <div class="event-detail__body event-detail-body is-calendar">
            <img src="/images/calendar_14_detail.jpg" alt="" class="image">
            <p class="body">
              11:00 - 18:30(定休日 水曜日）<br>
              無料
            </p>
            <div class="event-files">
              <a href="/pdf/wiw2017condehouse.pdf" class="event-files__item" target="_blank">ご案内<span class="file-type">PDF</span></a>
            </div>
            <a href="http://www.condehouse.co.jp/tokyo_open/" class="event-detail__link button" target="_blank"><span>Website</span></a>
          </div>
          <div class="event-detail__info event-info">
            <h2 class="event-info__title">Access</h2>
            <div class="event-info__body event-info-body">
              <div class="event-info-body__item">
                <div class="event-address">
                  <h3 class="name">カンディハウス東京ショップ</h3>
                  <p class="address">東京都港区南青山5-4-46 内田ビル1・2F</p>
                  <div class="embeded-map" id="js-embeded-map">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      function initMap() {
        var myLatLng = {lat: 35.662769, lng: 139.713830};

        var map = new google.maps.Map(document.getElementById('js-embeded-map'), {
          zoom: 14,
          center: myLatLng,
          styles: [
            {
              "featureType": "all",
              "elementType": "all",
              "stylers": [
                {
                  "saturation": -100
                },
                {
                  "gamma": "1"
                }
              ]
            }
          ]
        });

        var imagePath = '/images/map_pin.png';
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: imagePath
        });
      }
      initMap();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg54N9LTZJpbLVUKn-THCNkEX3bTeSTbE&callback=initMap"></script>
<% include _footer %>
