<% var
pageTitle = "";
pageId = "calendar-list";
pageUrl = "calendar-list.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header">
      <div class="l-section__inner page-header__inner">
        <h1 class="page-header__title">Event Calendar</h1>
      </div>
    </section>
    <section class="l-section page-contents">
      <div class="l-section__inner page-contents__inner">
        <div class="calendar-list">
          <a href="/calendar-detail_01.html" class="calendar-list__item calendar-list-item">
            <img src="/images/calendar_01_list.jpg" alt="" class="calendar-list-item__image">
            <span class="calendar-list-item__text">
              <span class="info">
                <span class="date">2017.05.15 Mon - 2017.05.27 Sat</span>
              </span>
              <span class="title">「もの・空間デザイン学生作品展と神戸家具展示」</span>
            </span>
          </a>
          <a href="/calendar-detail_02.html" class="calendar-list__item calendar-list-item">
            <img src="/images/calendar_placeholder.png" alt="" class="calendar-list-item__image">
            <span class="calendar-list-item__text">
              <span class="info">
                <span class="date">2017.5.26 Fri</span>
              </span>
              <span class="title">「女性インテリア先駆者たちの道のり」</span>
            </span>
          </a>
          <a href="/calendar-detail_03.html" class="calendar-list__item calendar-list-item">
            <img src="/images/calendar_placeholder.png" alt="" class="calendar-list-item__image">
            <span class="calendar-list-item__text">
              <span class="info">
                <span class="date">2017.5.27 Sat</span>
              </span>
              <span class="title">「JID女性会員によるデザインカンファレンス」</span>
            </span>
          </a>
          <a href="/calendar-detail_04.html" class="calendar-list__item calendar-list-item">
            <img src="/images/calendar_04_list.jpg" alt="" class="calendar-list-item__image">
            <span class="calendar-list-item__text">
              <span class="info">
                <span class="date">2017.4.2 Sat - 2017.5.28 Sat</span>
              </span>
              <span class="title">第25回九州産業大学美術館所蔵品展/歴史にすわるpart6-素材で感じるイスの世界</span>
            </span>
          </a>
          <a href="/calendar-detail_05.html" class="calendar-list__item calendar-list-item">
            <img src="/images/chair_design_list.jpg" alt="" class="calendar-list-item__image">
            <span class="calendar-list-item__text">
              <span class="info">
                <span class="date">2017.05.25 Thu - 2017.05.28 Sun</span>
              </span>
              <span class="title">高橋智志 椅子のデザイン展</span>
            </span>
          </a>
          <a href="/calendar-detail_06.html" class="calendar-list__item calendar-list-item">
            <img src="/images/calendar_placeholder.png" alt="" class="calendar-list-item__image">
            <span class="calendar-list-item__text">
              <span class="info">
                <span class="date">2017.5.25 Thu - 2017.5.31 Wed</span>
              </span>
              <span class="title">新しい畳への挑戦</span>
            </span>
          </a>
          <%# <a href="/calendar-detail_07.html" class="calendar-list__item calendar-list-item">
            <img src="/images/calendar_07_list.jpg" alt="" class="calendar-list-item__image">
            <span class="calendar-list-item__text">
              <span class="info">
                <span class="date">2017.5.25 Thu</span>
              </span>
              <span class="title">IFI World Interiors Day in ICS</span>
            </span>
          </a>%>
          <a href="/calendar-detail_08.html" class="calendar-list__item calendar-list-item">
            <img src="/images/calendar_placeholder.png" alt="" class="calendar-list-item__image">
            <span class="calendar-list-item__text">
              <span class="info">
                <span class="date">2017.5.31 Wed - 2017.6.4 Sun</span>
              </span>
              <span class="title">高品質の家具と『和のインテリア』の出会い」</span>
            </span>
          </a>
          <a href="/calendar-detail_09.html" class="calendar-list__item calendar-list-item">
            <img src="/images/calendar_09_list.png" alt="" class="calendar-list-item__image">
            <span class="calendar-list-item__text">
              <span class="info">
                <span class="date">2017.5.26 Fri - 2017.5.27 Sat</span>
              </span>
              <span class="title">シェアアトリエrebotを一般公開</span>
            </span>
          </a>
          <a href="/calendar-detail_10.html" class="calendar-list__item calendar-list-item">
            <img src="/images/calendar_10_list.png" alt="" class="calendar-list-item__image">
            <span class="calendar-list-item__text">
              <span class="info">
                <span class="date">2017.5.25 Thu - 2017.5.31 Wed</span>
              </span>
              <span class="title">Office design for Generations</span>
            </span>
          </a>
          <a href="/calendar-detail_11.html" class="calendar-list__item calendar-list-item">
            <img src="/images/calendar_placeholder.png" alt="" class="calendar-list-item__image">
            <span class="calendar-list-item__text">
              <span class="info">
                <span class="date">2017.5.25 Thu - 2017.5.31 Wed</span>
              </span>
              <span class="title">World Interiors Week 2017 in NAGOYA</span>
            </span>
          </a>
          <a href="/calendar-detail_12.html" class="calendar-list__item calendar-list-item">
            <img src="/images/calendar_placeholder.png" alt="" class="calendar-list-item__image">
            <span class="calendar-list-item__text">
              <span class="info">
                <span class="date">2017.5.30 Tue - 2017.6.3 Sat</span>
              </span>
              <span class="title">世界をつなぐCreator達のART &amp; DESIGN exhibition</span>
            </span>
          </a>
          <a href="/calendar-detail_13.html" class="calendar-list__item calendar-list-item">
            <img src="/images/calendar_placeholder.png" alt="" class="calendar-list-item__image">
            <span class="calendar-list-item__text">
              <span class="info">
                <span class="date">2017.4.27 Thu - 2017.6.13 Tue</span>
              </span>
              <span class="title">ISU-WORKS 暮らしえを彩る椅子を紹介</span>
            </span>
          </a>
          <a href="/calendar-detail_14.html" class="calendar-list__item calendar-list-item">
            <img src="/images/calendar_14_list.jpg" alt="" class="calendar-list-item__image">
            <span class="calendar-list-item__text">
              <span class="info">
                <span class="date">2017.4.29 Sat - 2017.6.30 Fri</span>
              </span>
              <span class="title">お気に入りの居場所をつくる家具</span>
            </span>
          </a>
          <a href="/calendar-detail_15.html" class="calendar-list__item calendar-list-item">
            <img src="/images/calendar_15_list.jpg" alt="" class="calendar-list-item__image">
            <span class="calendar-list-item__text">
              <span class="info">
                <span class="date">2017.5.26 Fri - 2017.6.3 Sat</span>
              </span>
              <span class="title">暮らしの未来--Next Generationインテリアデザイナー展</span>
            </span>
          </a>
        </div>
      </div>
    </section>
<% include _footer %>
