<% var
pageTitle = "第25回九州産業大学美術館所蔵品展/歴史にすわるpart6-素材で感じるイスの世界";
pageId = "calendar-detail";
pageUrl = "calendar-detail_04.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header event-header">
      <div class="l-section__inner page-header__inner event-header__inner">
        <a href="/calendar-list.html" class="page-header__back event-header__back">Event Calendar</a>
        <p class="date">2017.4.2 Sat - 2017.5.28 Sat （月曜日休館）</p>
        <h1 class="title"><%= pageTitle %></h1>
        <span class="place">at 九州産業大学美術館</span>
      </div>
    </section>
    <section class="l-section page-contents event-article">
      <div class="l-section__inner page-contents__inner event-article__inner">
        <div class="event-detail">
          <div class="event-detail__body event-detail-body is-calendar">
            <img src="/images/calendar_04_detail.jpg" alt="" class="image">
            <p class="body">
              一般200円・大学生100円・高校生以下および65才以上の方は無料
            </p>
            <a href="//www.kyusan-u.ac.jp/ksumuseum/" class="event-detail__link button" target="_blank"><span>Website</span></a>
          </div>
          <div class="event-detail__info event-info">
            <h2 class="event-info__title">Access</h2>
            <div class="event-info__body event-info-body">
              <div class="event-info-body__item">
                <div class="event-address">
                  <h3 class="name">九州産業大学美術館</h3>
                  <p class="address">福岡市東区松香台2-3-1</p>
                  <div class="embeded-map" id="js-embeded-map">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      function initMap() {
        var myLatLng = {lat: 33.670927, lng: 130.446092};

        var map = new google.maps.Map(document.getElementById('js-embeded-map'), {
          zoom: 14,
          center: myLatLng,
          styles: [
            {
              "featureType": "all",
              "elementType": "all",
              "stylers": [
                {
                  "saturation": -100
                },
                {
                  "gamma": "1"
                }
              ]
            }
          ]
        });

        var imagePath = '/images/map_pin.png';
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: imagePath
        });
      }
      initMap();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg54N9LTZJpbLVUKn-THCNkEX3bTeSTbE&callback=initMap"></script>
<% include _footer %>
