<% var
pageTitle = "世界をつなぐCreator達のART &amp; DESIGN exhibition";
pageId = "calendar-detail";
pageUrl = "calendar-detail_12.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header event-header">
      <div class="l-section__inner page-header__inner event-header__inner">
        <a href="/calendar-list.html" class="page-header__back event-header__back">Event Calendar</a>
        <p class="date">2017.5.30 Tue - 2017.6.3 Sat</p>
        <h1 class="title"><%- pageTitle %></h1>
        <span class="place">at 宝塚大学 gallery TRIANGLE</span>
      </div>
    </section>
    <section class="l-section page-contents event-article">
      <div class="l-section__inner page-contents__inner event-article__inner">
        <div class="event-detail">
          <div class="event-detail__body event-detail-body is-calendar">
            <p class="body">
              5/30(Tue)・31(Wed) /Exhibition Design Conferences<br>
              6/2(Fri)/6/3(Sat):共に13:00-17:00 「世界をつなぐCreator達のART &amp; DESIGN exhibition」<br>
              6/3(Sat)17:00 -17:40 Jazz Live &amp; Performance 17:40-19:00 交流パーティ
            </p>
            <div class="event-files">
              <a href="/pdf/wiw2017takarazuka.pdf" class="event-files__item" target="_blank">ご案内<span class="file-type">PDF</span></a>
            </div>
          </div>
          <div class="event-detail__info event-info">
            <h2 class="event-info__title">Access</h2>
            <div class="event-info__body event-info-body">
              <div class="event-info-body__item">
                <div class="event-address">
                  <h3 class="name">宝塚大学 gallery TRIANGLE</h3>
                  <p class="address">兵庫県宝塚市花屋敷つつじが丘7番27号</p>
                  <div class="embeded-map" id="js-embeded-map">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      function initMap() {
        var myLatLng = {lat: 34.836161, lng: 135.400204};

        var map = new google.maps.Map(document.getElementById('js-embeded-map'), {
          zoom: 14,
          center: myLatLng,
          styles: [
            {
              "featureType": "all",
              "elementType": "all",
              "stylers": [
                {
                  "saturation": -100
                },
                {
                  "gamma": "1"
                }
              ]
            }
          ]
        });

        var imagePath = '/images/map_pin.png';
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: imagePath
        });
      }
      initMap();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg54N9LTZJpbLVUKn-THCNkEX3bTeSTbE&callback=initMap"></script>
<% include _footer %>
