<% var
pageTitle = "ISU-WORKS 暮らしえを彩る椅子を紹介";
pageId = "calendar-detail";
pageUrl = "calendar-detail_13.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header event-header">
      <div class="l-section__inner page-header__inner event-header__inner">
        <a href="/calendar-list.html" class="page-header__back event-header__back">Event Calendar</a>
        <p class="date">2017.4.27 Thu - 2017.6.13 Tue</p>
        <h1 class="title"><%= pageTitle %></h1>
        <span class="place">at リビングデザインセンターOZONE 5F にっぽんフォルム</span>
      </div>
    </section>
    <section class="l-section page-contents event-article">
      <div class="l-section__inner page-contents__inner event-article__inner">
        <div class="event-detail">
          <div class="event-detail__body event-detail-body is-calendar">
            <p class="body">
              11:00 - 19:00 (水曜日休館）<br>
              無料<br>
              イベント問い合わせ先：にっぽんフォルム 03−5322-6620
            </p>
            <a href="https://www.ozone.co.jp/event_seminar/event/detail/271 " class="event-detail__link button" target="_blank"><span>Website</span></a>
          </div>
          <div class="event-detail__info event-info">
            <h2 class="event-info__title">Access</h2>
            <div class="event-info__body event-info-body">
              <div class="event-info-body__item">
                <div class="event-address">
                  <h3 class="name">リビングデザインセンターOZONE 5F にっぽんフォルム</h3>
                  <p class="address">東京都新宿区西新宿3-7-1 新宿パークタワー</p>
                  <div class="embeded-map" id="js-embeded-map">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      function initMap() {
        var myLatLng = {lat: 35.685374, lng: 139.690971};

        var map = new google.maps.Map(document.getElementById('js-embeded-map'), {
          zoom: 14,
          center: myLatLng,
          styles: [
            {
              "featureType": "all",
              "elementType": "all",
              "stylers": [
                {
                  "saturation": -100
                },
                {
                  "gamma": "1"
                }
              ]
            }
          ]
        });

        var imagePath = '/images/map_pin.png';
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: imagePath
        });
      }
      initMap();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg54N9LTZJpbLVUKn-THCNkEX3bTeSTbE&callback=initMap"></script>
<% include _footer %>
