<% var
pageTitle = "暮らしの未来--Next Generationインテリアデザイナー展";
pageId = "calendar-detail";
pageUrl = "calendar-detail_14.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header event-header">
      <div class="l-section__inner page-header__inner event-header__inner">
        <a href="/calendar-list.html" class="page-header__back event-header__back">Event Calendar</a>
        <p class="date">2017.5.26 Fri - 2017.6.3 Sat</p>
        <h1 class="title"><%= pageTitle %></h1>
        <span class="place">at 東京ミッドタウン・デザインハブ</span>
      </div>
    </section>
    <section class="l-section page-contents event-article">
      <div class="l-section__inner page-contents__inner event-article__inner">
        <div class="event-detail">
          <div class="event-detail__body event-detail-body is-calendar">
            <p class="body">
              11:00 - 19:00（初日のみ14:00 - 19:00）<br>
              無料
            </p>
            <div class="event-files">
              <a href="/pdf/wiw2017dm0518.pdf" class="event-files__item" target="_blank">ご案内<span class="file-type">PDF</span></a>
            </div>
            <a href="http://designhub.jp/exhibitions/3007/" class="event-detail__link button" target="_blank"><span>Website</span></a>
          </div>
          <div class="event-detail__info event-info">
            <h2 class="event-info__title">Access</h2>
            <div class="event-info__body event-info-body">
              <div class="event-info-body__item">
                <div class="event-address">
                  <h3 class="name">東京ミッドタウン・デザインハブ</h3>
                  <p class="address">港区赤坂9-7-1ミッドタウンタワー5階</p>
                  <div class="embeded-map" id="js-embeded-map">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      function initMap() {
        var myLatLng = {lat: 35.666203, lng: 139.731259};

        var map = new google.maps.Map(document.getElementById('js-embeded-map'), {
          zoom: 14,
          center: myLatLng,
          styles: [
            {
              "featureType": "all",
              "elementType": "all",
              "stylers": [
                {
                  "saturation": -100
                },
                {
                  "gamma": "1"
                }
              ]
            }
          ]
        });

        var imagePath = '/images/map_pin.png';
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: imagePath
        });
      }
      initMap();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg54N9LTZJpbLVUKn-THCNkEX3bTeSTbE&callback=initMap"></script>
<% include _footer %>
