<% var
pageTitle = "高橋智志 椅子のデザイン展";
pageId = "calendar-detail";
pageUrl = "calendar-detail_05.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header event-header">
      <div class="l-section__inner page-header__inner event-header__inner">
        <a href="/calendar-list.html" class="page-header__back event-header__back">Event Calendar</a>
        <p class="date">2017.5.25 Thu - 2017.5.28 Sun 10:00 - 18:00</p>
        <h1 class="title"><%= pageTitle %></h1>
        <span class="place">at 新発田市役所新庁舎7階ギャラリー（新潟）</span>
      </div>
    </section>
    <section class="l-section page-contents event-article">
      <div class="l-section__inner page-contents__inner event-article__inner">
        <div class="event-detail">
          <div class="event-detail__body event-detail-body is-calendar">
            <img src="/images/chair_design.jpg" alt="" class="image">
            <p class="body">
              新発田市役所に収めた「桜はなびらベンチ」ほか、高橋コレクション世界の名作椅子展示
            </p>
            <div class="event-files">
              <a href="/pdf/wiw2017sod.pdf" class="event-files__item" target="_blank">ご案内<span class="file-type">PDF</span></a>
            </div>
          </div>
          <div class="event-detail__info event-info">
            <h2 class="event-info__title">Access</h2>
            <div class="event-info__body event-info-body">
              <div class="event-info-body__item">
                <div class="event-address">
                  <h3 class="name">新発田市役所新庁舎7階ギャラリー（新潟）</h3>
                  <p class="address">〒957-0053 新潟県新発田市中央町３丁目３</p>
                  <div class="embeded-map" id="js-embeded-map">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      function initMap() {
        var myLatLng = {lat: 37.948389, lng: 139.326809};

        var map = new google.maps.Map(document.getElementById('js-embeded-map'), {
          zoom: 14,
          center: myLatLng,
          styles: [
            {
              "featureType": "all",
              "elementType": "all",
              "stylers": [
                {
                  "saturation": -100
                },
                {
                  "gamma": "1"
                }
              ]
            }
          ]
        });

        var imagePath = '/images/map_pin.png';
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: imagePath
        });
      }
      initMap();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg54N9LTZJpbLVUKn-THCNkEX3bTeSTbE&callback=initMap"></script>
<% include _footer %>
