<% var
pageTitle = "";
pageId = "events-list";
pageUrl = "event-list.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header">
      <div class="l-section__inner page-header__inner">
        <h1 class="title">Events</h1>
      </div>
    </section>
    <section class="l-section page-contents events-list">
      <div class="l-section__inner page-contents__inner events-list__inner">
        <ul class="events-list">
          <li class="events-list__item events-list-item">
            <div class="events-list-item__inner">
              <a href="/event-detail_01.html" class="events-list-item__image">
                <img src="/images/events-list_01.jpg" alt="">
              </a>
              <div class="events-list-item__text">
                <h3 class="title">Event 1</h3>
                <h2 class="sub-title"><a href="/event-detail_01.html">参加型自主イベント<br>地域ネットワークイベント</a></h2>
                <p class="desc">
                  みんなでつくる参加型イベント<br>
                  IFI共通のテーマを掲げ全国運動を世界と共通する<br>
                  一人一人の力が・・・未来を拓く
                </p>
                <div class="events-list-links">
                  <a href="/event-detail_01.html" class="events-list-links__item link-arrow"><span>More</span></a>
                </div>
              </div>
            </div>
          </li>
          <li class="events-list__item events-list-item">
            <div class="events-list-item__inner">
              <a href="/event-detail_02.html" class="events-list-item__image">
                <img src="/images/events-list_02.jpg" alt="">
              </a>
              <div class="events-list-item__text">
                <h3 class="title">Event 2</h3>
                <h2 class="sub-title"><a href="/event-detail_02.html">ワールドインテリアトレンドレポート<br>ワークショップ</a></h2>
                <p class="desc">
                  いち早く知ることができる国際展示会情報<br>
                  最新デザイントレンド情報<br>
                  デザイン諸国からのメッセージ<br><br>
                  デザイナーと一緒に楽しい手作り体験
                </p>
                <div class="events-list-links">
                  <a href="/event-detail_02.html" class="events-list-links__item link-arrow"><span>More</span></a>
                </div>
              </div>
            </div>
          </li>
          <li class="events-list__item events-list-item">
            <div class="events-list-item__inner">
              <a href="/event-detail_03.html" class="events-list-item__image">
                <img src="/images/events-list_03.jpg" alt="">
              </a>
              <div class="events-list-item__text">
                <h3 class="title">Event 3</h3>
                <h2 class="sub-title"><a href="/event-detail_03.html">企画展「Next Generation - インテリアデザイナー展」</a></h2>
                <p class="desc">
                  次世代デザイナーの紹介及び作品展<br>
                  豊かな暮らし・未来のためデザイナーは何を思考するのか
                </p>
                <div class="events-list-links">
                  <a href="/event-detail_03.html" class="events-list-links__item link-arrow"><span>More</span></a>
                </div>
              </div>
            </div>
          </li>
          <li class="events-list__item events-list-item">
            <div class="events-list-item__inner">
              <a href="/event-detail_04.html" class="events-list-item__image">
                <img src="/images/events-list_04.jpg" alt="">
              </a>
              <div class="events-list-item__text">
                <h3 class="title">Event 4</h3>
                <h2 class="sub-title"><a href="/event-detail_04.html">WORLD INTERIOR DAY / デザインシンポジウム</a></h2>
                <p class="desc">
                  日本と世界がデザインでつながる日<br>
                  世界規模の同時開催イベント IFI「WORLD INTERIORS DAY」<br>
                  デザインシンポジウム
                </p>
                <div class="events-list-links">
                  <a href="/event-detail_04.html" class="events-list-links__item link-arrow"><span>More</span></a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
<% include _footer %>
