<% var
pageTitle = "";
pageId = "event-detail";
pageUrl = "event-detail_02.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header event-header">
      <div class="l-section__inner page-header__inner event-header__inner">
        <a href="/event-list.html" class="page-header__back event-header__back">Events</a>
        <h1 class="title">Event 2</h1>
      </div>
    </section>
    <section class="l-section page-contents event-article">
      <div class="l-section__inner page-contents__inner event-article__inner">
        <div class="event-detail">
          <div class="event-detail__body event-detail-body">
            <h2 class="headline">
              セミナー<br>
              名称：ワールドトレンドセミナー<br>
              いち早く知ることができる2017年国際展示会・新作発表・デザイントレンド情報セミナー
            </h2>
            <p class="body">
              日時：5月26日（金）16:30 - 18:30 セミナー / 18:30 - ワインパーティ<br>
              会場：デザインハブ内インターナショナル・デザイン・リエゾンセンター<br>
              参加者：一般・学生・建築家・デザイナー・デザイン、建築など教育関係者<br>
              参加費：2,000円（事前申し込み制/当日払い/ワインパーティ含）
            </p>
          </div>
          <div class="event-detail__table event-detail-table">
            <table>
              <tbody>
                <tr>
                  <th class="time">16:00</th>
                  <td colspan="2">受付開始</td>
                </tr>
                <tr>
                  <th class="time">16:30</th>
                  <td>開会</td>
                  <td>WIW2017ごあいさつ</td>
                </tr>
                <tr>
                  <th class="time">16:40 - 17:30</th>
                  <td>
                    1部 セミナー
                    <img src="/images/instructor_yasuda.jpg" class="photo" width="198" alt="">
                  </td>
                  <td>
                    <strong>『意匠素材としての突板とその海外トレンド』</strong><br>
                    2017年国際展示会の最新トレンドを基に「木の意匠」「素材」について解説します。<br>
                    <strong>講師：安多茂一　Shigekazu Yasuta</strong><br>
                    （安多化粧合板株式会社 代表取締役/JID会員・西日本エリア国際委員会委員）<br>
                    講師紹介:長年にわたり世界各地の建築、インテリアを常に視察、情報収集、分析を行う。その豊富な情報と知識から、国内外の建築、インテリアデザイナーから評価を受ける木材・突板のスペシャリスト。
                  </td>
                </tr>
                <tr>
                  <th class="time">17:40 - 18:30</th>
                  <td>
                    2部 セミナー
                    <img src="/images/instructor_takata.jpg" class="photo" width="198" alt="">
                  </td>
                  <td>
                    <strong>『欧州最新テキスタイルレポート2017』</strong><br>
                    テキスタイルエディター各社の最新コレクションを中心に、2017年テキスタイル・壁紙トレンドのポイントを解説。後半はメゾン＆オブジェ・ミラノサローネにおけるインテリア事例を紹介します。<br>
                    <strong>講師：高田真由美 Mayumi Takata</strong><br>
                    （エルクリエーション株式会社　代表取締役）<br>
                    講師紹介：輸入テキスタイル・壁紙を扱うマナトレーディングへ2000年に入社。12年にわたり企画開発やブランド販促の責任者として従事。その間、海外展示会へ数多く訪問しトレンド発信もおこなう。2013年にエルクリエーション株式会社を設立。空間で使用する素材について海外と日本を繋ぐという観点から、商品開発、ブランドコンサルティング、プロモーション、海外情報発信などを手がける。また、Alexander LamontやLoro Piana Interiorsなど、海外ブランドの販促・販売により、こだわりある素材提案もおこなっている。
                  </td>
                </tr>
                <tr>
                  <th class="time">18:30 - 20:00</th>
                  <td>ワインパーティ</td>
                  <td>交流会</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="event-detail__entry">
            <a href="/form_join_2/" class="button">JOIN</a>
          </div>
          <div class="event-detail__body event-detail-body">
            <h2 class="headline">ワークショップ<br>名称：毎日の暮らしで使いたい『インテリア小物をつくろう』</h2>
            <p class="body">
              概要：テキスタイルのプロが教える、初心者の方でも簡単につくれるインテリア小物を作ります。<br>
              手ぶらで参加できる楽しい手作りワークショップです。<br>
              日時：第1回ワークショップ 2017/5/28(日) <br>
              ①11:00-13:00　②14:00-16:00　③17:00-19:00 <br>
              第2回ワークショップ 2017/6/3(土) <br>
              ①11:00-13:00　②14:00-16:00　③17:00-19:00<br>
              会 場:デザインハブ内 インターナショナル・デザイン・リエゾンセンター<br>
              参 加 対 象 者:18歳以上の方 参 加 費:3,800円/1回(税込・材料込み) /事前申込および事前振込制<br>
              定　員：各回10名/遂行人数3名～（定員になりしだい締切り)
            </p>
          </div>
          <div class="event-detail__entry">
            <a href="/form_join_2/" class="button">JOIN</a>
          </div>
          <div class="event-detail__body event-detail-body">
            <h2 class="headline">講師紹介（一般社団法人日本テキスタイルデザイン協会会員）</h2>
            <ul class="designer-list">
              <li class="designer-list__item">
                <%# <span class="photo">
                  <img src="/images/designer_ushio.jpg">
                </span>%>
                <span class="text">
                  <span class="name">牛尾卓巳さん</span>
                  <span class="profile">武蔵野美術大学大学院修了。在学中にテキスタイルを学び、色、表情の豊かさと素材の持つ可能性に惹かれる。国内外の美術館、ギャラリーでテキスタイル作品を多数発表。美術大学で講師も務める。</span>
                </span>
              </li>

              <li class="designer-list__item">
                <%# <span class="photo">
                  <img src="/images/designer_tonooka.jpg">
                </span>%>
                <span class="text">
                  <span class="name">殿岡由佳子さん</span>
                  <span class="profile">女子美術大学卒業。会社員の傍ら『日常に彩りを与えるテキスタイル』をテーマに制作しています。</span>
                </span>
              </li>

              <li class="designer-list__item">
                <%# <span class="photo">
                  <img src="/images/designer_ninomiya.jpg">
                </span>%>
                <span class="text">
                  <span class="name">二宮とみさん</span>
                  <span class="profile">染色家。nino works 代表 染めを中心としたテキスタイルを制作し発表しています。 </span>
                </span>
              </li>

              <li class="designer-list__item">
                <%# <span class="photo">
                  <img src="/images/designer_sato.jpg">
                </span>%>
                <span class="text">
                  <span class="name">佐藤千香子さん</span>
                  <span class="profile">女子美術大学卒業後、作家及び開発コンサルタント（2016年JICA理事長賞受賞）として染色を軸に国内外で活動。近年、テキスタイル関連のレクチャー・ワークショップを通し東欧や中央アジアの文化紹介活動も展開。2015年Åland sheep woolによる作品制作プロジェクトを開始。</span>
                </span>
              </li>

              <li class="designer-list__item">
                <%# <span class="photo">
                  <img src="/images/designer_oshikane.jpg">
                </span>%>
                <span class="text">
                  <span class="name">押鐘まどかさん</span>
                  <span class="profile">女子美術大学付属高校卒、多摩美術大学デザイン科染織デザイン 専攻卒。インテリアテキスタイルのインハウスデザイナーとして勤務後独立。×+・TE×TILE 【 カケアワセル・テキスタイル 】をコンセプトに、技法、色や マテリアルをくみあわせ、色柄だけじゃない、今までにない手触りとサーフェイ スをくりだすテキスタイルブランド【 Madoka Oshikane 】主宰。</span>
                </span>
              </li>

              <li class="designer-list__item">
                <%# <span class="photo">
                  <img src="/images/designer_ito.jpg">
                </span>%>
                <span class="text">
                  <span class="name">伊東加奈子さん</span>
                  <span class="profile">自分の中に溢れる色と柄の創造することをテーマにスカーフ等のテキスタイルを制作。並行してキャンドルも制作しています。</span>
                </span>
              </li>
            </ul>
          </div>
          <div class="event-detail__table event-detail-table">
            <h2 class="event-detail-table__title">スケジュール / 定員：各回10名</h2>
            <table class="is-fixed">
              <thead>
                <tr>
                  <th class="date">5/28（日）</th>
                  <th>伊東加奈子</th>
                  <th>押鐘まどか</th>
                  <th>牛尾卓巳</th>
                  <th>殿岡由佳子</th>
                  <th>二宮とみ</th>
                  <th>佐藤千香子</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="time" aria-label="5/28（日）">11:00-13:00</th>
                  <td aria-label="伊東加奈子"></td>
                  <td aria-label="押鐘まどか">ウォッシュフェルトのキーケース</td>
                  <td></td>
                  <td></td>
                  <td aria-label="二宮とみ">フレーム・ボックスを染める</td>
                  <td aria-label="佐藤千香子">エスニック布でつくる〈小さな袋〉＋羊毛紐（ひも）づくり</td>
                </tr>
                <tr>
                  <th class="time" aria-label="5/28（日）">14:00-16:00</th>
                  <td aria-label="伊東加奈子">シルクスクリーンで彩るテーブルウェアつくり</td>
                  <td aria-label="押鐘まどか">ウォッシュフェルトのキーケース</td>
                  <td aria-label="牛尾卓巳">コースターつくりオフルーム〜木枠を使った「織り」を体験</td>
                  <td aria-label="殿岡由佳子">Party Table♪ 転写プリントで自分の描いた絵がランチョンマットに</td>
                  <td></td>
                  <td aria-label="佐藤千香子">エスニック布でつくる〈小さな袋〉＋羊毛紐（ひも）づくり</td>
                </tr>
                <tr>
                  <th class="time" aria-label="5/28（日）">17:00-19:00</th>
                  <td aria-label="伊東加奈子">シルクスクリーンで彩るテーブルウェアつくり</td>
                  <td></td>
                  <td aria-label="牛尾卓巳">コースターつくりオフルーム〜木枠を使った「織り」を体験</td>
                  <td aria-label="殿岡由佳子">Party Table♪ 転写プリントで自分の描いた絵がランチョンマットに</td>
                  <td aria-label="二宮とみ">フレーム・ボックスを染める</td>
                  <td></td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th class="date">6/3 (土）</th>
                  <th>伊東加奈子</th>
                  <th>押鐘まどか</th>
                  <th>牛尾卓巳</th>
                  <th>殿岡由佳子</th>
                  <th>二宮とみ</th>
                  <th>佐藤千香子</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="time" aria-label="6/3 (土）">11:00-13:00</th>
                  <td></td>
                  <td aria-label="押鐘まどか">インテリアテキスタイルのコラージュバック</td>
                  <td aria-label="牛尾卓巳">コースターつくりオフルーム〜木枠を使った「織り」を体験</td>
                  <td></td>
                  <td aria-label="二宮とみ">フレーム・ボックスを染める</td>
                  <td></td>
                </tr>
                <tr>
                  <th class="time" aria-label="6/3 (土）">14:00-16:00</th>
                  <td aria-label="伊東加奈子">シルクスクリーンで彩るテーブルウェアつくり</td>
                  <td aria-label="押鐘まどか">インテリアテキスタイルのコラージュバック</td>
                  <td aria-label="牛尾卓巳">コースターつくりオフルーム〜木枠を使った「織り」を体験</td>
                  <td aria-label="殿岡由佳子">Party Table♪ 転写プリントで自分の描いた絵がランチョンマットに</td>
                  <td aria-label="二宮とみ">フレーム・ボックスを染める</td>
                  <td aria-label="佐藤千香子">エスニック布でつくる〈小さな袋〉＋羊毛紐（ひも）づくり</td>
                </tr>
                <tr>
                  <th class="time" aria-label="6/3 (土）">17:00-19:00</th>
                  <td aria-label="伊東加奈子">シルクスクリーンで彩るテーブルウェアつくり</td>
                  <td></td>
                  <td>コースターつくりオフルーム〜木枠を使った「織り」を体験</td>
                  <td aria-label="殿岡由佳子">Party Table♪ 転写プリントで自分の描いた絵がランチョンマットに</td>
                  <td></td>
                  <td aria-label="佐藤千香子">エスニック布でつくる〈小さな袋〉＋羊毛紐（ひも）づくり</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="event-detail__entry">
            <a href="/pdf/ws_wiw2017_0405f.pdf" class="button">詳細はこちら（PDF）</a>
          </div>
        </div>
      </div>
    </section>
    <script>
      function initMap() {
        var myLatLng = {lat: 35.658581, lng: 139.745433};

        var map = new google.maps.Map(document.getElementById('js-embeded-map'), {
          zoom: 14,
          center: myLatLng,
          styles: [
            {
              "featureType": "all",
              "elementType": "all",
              "stylers": [
                {
                  "saturation": -100
                },
                {
                  "gamma": "1"
                }
              ]
            }
          ]
        });

        var imagePath = '/images/map_pin.png';
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: imagePath
        });
      }
      initMap();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg54N9LTZJpbLVUKn-THCNkEX3bTeSTbE&callback=initMap"></script>
<% include _footer %>
