<% var
pageTitle = "";
pageId = "event-detail";
pageUrl = "event-detail_03.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header event-header">
      <div class="l-section__inner page-header__inner event-header__inner">
        <a href="/event-list.html" class="page-header__back event-header__back">Events</a>
        <h1 class="title">Event 3</h1>
      </div>
    </section>
    <section class="l-section page-contents event-article">
      <div class="l-section__inner page-contents__inner event-article__inner">
        <div class="event-detail">
          <div class="event-detail__body event-detail-body">
            <h2 class="headline">
              企画展： 暮らしの未来 ー『Next Generationsーインテリアデザイナー展』<br>
              東京ミッドタウン・デザインハブ 2017/5/26 Fri - 6/3 Sat
            </h2>
            <h2 class="headline">企画展趣旨</h2>
            <p class="body">
              World Interiors Week 2017 in JAPAN のテーマ『Interior Design for Generations』に沿い 次世代を担うデザイナー「Next Generations」の新思考デザインを紹介展示します。 生活者を含め多くの方々に観て頂き、感じて頂く事で、これからの暮らしのヒントおよび日本のインテリアの指標を考える機会とし、あわせてWIW2017の意義と役割への理解を深めるものとします。 世界中の人々が望んでいる「豊かな暮らし」へ未来のためにデザイナーが繋いでいきます。
            </p>
            <h2 class="headline">出展デザイナー紹介</h2>
            <ul class="designer-list">
              <li class="designer-list__item">
                <span class="photo">
                  <img src="/images/designer_oniki.jpg">
                </span>
                <span class="work">
                  <img src="/images/work_oniki.jpg">
                </span>
                <span class="text">
                  <span class="name">鬼木孝一郎(おにき こういちろう)さん(39)</span>
                  <span class="profile"><span class="label">経歴</span>早稲田大学大学院卒業後、日建設計、nendo を経て独立<br>
                  <span class="label">作品</span>祇園エルメス、dear mayuko<br><span class="label">カテゴリ</span>商業施設</span>
                </span>
              </li>
              <li class="designer-list__item">
                <span class="photo">
                  <img src="/images/designer_iharamasaki.jpg">
                  <img src="/images/designer_iharakayo.jpg">
                </span>
                <span class="work">
                  <img src="/images/work_ihara.jpg">
                </span>
                <span class="text">
                  <span class="name">井原正揮(いはら まさき)さん(37) &amp;<br>井原佳代（いはら かよ）さん(37)</span>
                  <span class="profile"><span class="label">経歴</span>ともに、シーラカンスアンドアソシエイツを経てihrmkを設立。<br>（井原正揮さん）東京工業大学卒業（井原佳代さん）キングストン大学大学院卒業<br>
                  <span class="label">作品</span>風景を通す家、素木地の治療院 <br><span class="label">カテゴリ</span>住宅 </span>
                </span>
              </li>
              <li class="designer-list__item">
                <span class="photo">
                  <img src="/images/designer_ishimaru.jpg">
                </span>
                <span class="work">
                  <img src="/images/work_ishimaru.jpg">
                </span>
                <span class="text">
                  <span class="name">石丸耕平(いしまる こうへい)さん(35)</span>
                  <span class="profile"><span class="label">経歴</span>設計事務所を経てインフィクス在籍・代表取締役(共同代表)<br><span class="label">作品</span>東急プラザ銀座、あべのハルカス <br><span class="label">カテゴリ</span>商業施設 </span>
                </span>
              </li>
              <li class="designer-list__item">
                <span class="photo">
                  <img src="/images/designer_noguchi.jpg">
                </span>
                <span class="work">
                  <img src="/images/work_noguchi.jpg">
                </span>
                <span class="text">
                  <span class="name">野口直人(のぐち なおと)さん(36)</span>
                  <span class="profile"><span class="label">経歴</span>横浜国立大学大学院修了後、 SANAA を経て独立<br>
                  <span class="label">作品</span>オスカー・ニーマイヤー展 紙のような椅子<br><span class="label">カテゴリ</span>プロダクト </span>
                </span>
              </li>
              <li class="designer-list__item">
                <span class="photo">
                  <img src="/images/designer_matsumoto.jpg">
                </span>
                <span class="work">
                  <img src="/images/work_matsumoto.jpg">
                </span>
                <span class="text">
                  <span class="name">松本直也(まつもと なおや)さん(35)</span>
                  <span class="profile"><span class="label">経歴</span>成安造形大学卒業後、 野井成正デザイン事務所を経て独立<br>
                  <span class="label">作品</span>BAR よるのま、Sony Design Making 会場構成 <br><span class="label">カテゴリ</span>商業施設、オフィス </span>
                </span>
              </li>
              <li class="designer-list__item">
                <span class="photo">
                  <img src="/images/designer_kobayashi.jpg">
                </span>
                <span class="work">
                  <img src="/images/work_kobayashi.jpg">
                </span>
                <span class="text">
                  <span class="name">小林幹也(こばやし みきや)さん(36)</span>
                  <span class="profile"><span class="label">経歴</span>武蔵野美術大学卒業後、 インテリアデザイン会社を経て独立<br>
                  <span class="label">作品</span>家具 round、hibi<br><span class="label">カテゴリ</span>プロダクト</span>
                </span>
              </li>
              <li class="designer-list__item">
                <span class="photo">
                  <img src="/images/designer_kashi.jpg">
                </span>
                <span class="work">
                  <img src="/images/work_kashi.jpg">
                </span>
                <span class="text">
                  <span class="name">菓子麻奈美(かし まなみ)さん(33)</span>
                  <span class="profile"><span class="label">経歴</span>東京芸術大学大学院修了、 長谷川逸子・建築計画工房を経て、都市デザインシステム入社 （UDS)<br>
                  <span class="label">作品</span>BUNKA HOSTEL TOKYO、渋谷グランベルホテル<br><span class="label">カテゴリ</span>ホスピタリティ</span>
                </span>
              </li>
              <li class="designer-list__item">
                <span class="photo">
                  <img src="/images/designer_hashizume.jpg">
                  <img src="/images/designer_cho.jpg">
                </span>
                <span class="work">
                  <img src="/images/work_hashizumecho.jpg">
                </span>
                <span class="text">
                  <span class="name">橋詰俊輔(はしづめ しゅんすけ)さん(35) &amp;<br>張 棋敦(Jang Kidon)さん(35)</span>
                  <span class="profile"><span class="label">経歴</span>（橋詰さん）NY School of Interior Design / （Jang さん）武蔵野美術大学卒業後、株式会社 メック・デザイン・インター ナショナル入社/ デザイン・ソリューション 2 部<br>
                  <span class="label">作品</span>日本 KFC ホールディングス株式会社 移転プロジェクト、Pioneer DJ 株式会社移転プロジェクト<br>
                  <span class="label">カテゴリ</span>オフィス </span>
                </span>
              </li>
              <li class="designer-list__item">
                <span class="photo">
                  <img src="/images/designer_machida.jpg">
                </span>
                <span class="work">
                  <img src="/images/work_machida.jpg">
                </span>
                <span class="text">
                  <span class="name">町田怜子(まちだ さとこ)さん(36)</span>
                  <span class="profile"><span class="label">経歴</span>明治大学大学院を経て、丹青社入社。<br><span class="label">作品</span>日本赤十字社献血ルーム、渋谷ヒカリエ<br>
                  <span class="label">カテゴリ</span>ホスピタリティ、商業施設 </span>
                </span>
              </li>
              <li class="designer-list__item">
                <span class="photo">
                  <img src="/images/designer_kubotsushima.jpg">
                </span>
                <span class="work">
                  <img src="/images/work_kubotsushima.jpg">
                </span>
                <span class="text">
                  <span class="name">久保秀朗(くぼ ひであき)さん(34) &amp; <br>都島有美 (つしま ゆみ)さん(34)</span>
                  <span class="profile"><span class="label">経歴</span>（久保さん）東京大学大学院修了 / （都島さん）九州大学大学院修了後、ともに設計事務所を経て久保都島建築設計事務所を設立。<br><span class="label">作品</span>まるほん旅館風呂小屋、伊勢町公衆トイレ<br><span class="label">カテゴリ</span>ホスピタリティ<br>
                  ※企画展の展示作品は、記載の作品とは異なる場合があります</span>
                </span>
              </li>
            </ul>
            <h2 class="headline">展示概要 について</h2>
            <p class="body">
              住宅デザイン、ホスピタリティーデザイン、商業施設デザイン、オフィスデザイン、プロダクトデザインの5分野で顕著な活躍歴があり、将来が期待される40歳以下のデザイナー7人とユニット3組の紹介および作品展示展です。<br>
              1)デザイナープロフィールと作品、そのテーマ、コンセプト、素材、技術などを展示解説。個性豊かな展示とします。<br>
               2) IFIが推進する 「World Interiors Day」の2017年5月27日にはデザインシンポジウムを開催、 出展デザイナーによる作品プレゼンテーション及びトークセッションを行います。<br>
              ※デザイナーの選出について<br>
              インテリア産業界からの推薦、デザイン関連団体、教育機関等からの推薦を受けた方のノミネート作品書より下記の5分野で顕著な活躍があったと考えられる個人、将来が期待される40歳以下のデザイナー を選考委員が審査の上、7名とユニット3組のデザイナーを選出いたしました。
            </p>
            <ul class="list">
              <li>住宅デザイン</li>
              <li>ホテルなどホスピタリティーのインテリアデザイン</li>
              <li>レストラン・ショップなど商業施設のインテリアデザイン</li>
              <li>オフイスのインテリアデザイン</li>
              <li>プロダクトデザイン</li>
            </ul>
            <p class="body">
              選考委員　 喜多 俊之 (WIW実行委員長/前JID理事長) 　川上 元美 (JDP会長) 　橋本 修(前IFI理事/JID国際担当理事) 
            </p>
            <p class="body">
              会期 5月26日(金)~6月3日(土) 11時~19時(初日14時~19時)<br>
              会場 東京ミッドタウン・デザインハブ<br>
              　　　　 東京都港区赤坂9-7-1 ミッドタウン・タワー5階<br>
              来場者予定数 3000人/10日間<br>
              来場対象 一般・学生・建築家・デザイナー・デザイン、建築など教育関係者<br>
              入場費 無料<br>
              主催   東京ミッドタウン・デザインハブ<br>
              企画運営   World Interiors Week in JAPAN 実行委員会<br>
              　　　　 （公益社団法人日本インテリデザイナー協会、公益財団法人日本デザイン振興会）<br>
              会場構成/アートデイレクション　廣村デザイン事務所　廣村正彰
            </p>
            <h2 class="headline">
              『Next Generationsーインテリアデザイナー展』連動企画展<br>
              名称：住まいのインテリアコーディネーションコンテスト『高校生部門受賞作品展』
            </h2>
            <p class="body">
              会期 5月26日(金)~6月3日(土) 11時~19時(初日14時~19時)<br>
              会場 東京ミッドタウン・デザインハブ 奥　JDPホール<br>
              　　 東京都港区赤坂9-7-1 ミッドタウン・タワー5階<br>
              協力　公益社団法人インテリア産業協会       http://www.interior.or.jp<br>
              来場者予定数 　3000人/10日間<br>
              来場対象 一般・学生・建築家・デザイナー・デザイン、建築など教育関係者<br>
              入場費 　 無料<br>
              展示概要　<br>
              公益社団法人インテリア産業協会が、毎年募集する「住まいのインテリアコーディネーションコンテスト・高校生部門」の受賞作品展。Next Generations-高校生の発想ならではのビジュアル表現は、未来へのインテリアデザインの可能性を感じさせます。（課題をもとにコンセプト、平面図、断面図(展開図)、パース、スケッチなどA2サイズにインテリア空間が表現されています）
            </p>
          </div>
        </div>
      </div>
    </section>
    <script>
      function initMap() {
        var myLatLng = {lat: 35.658581, lng: 139.745433};

        var map = new google.maps.Map(document.getElementById('js-embeded-map'), {
          zoom: 14,
          center: myLatLng,
          styles: [
            {
              "featureType": "all",
              "elementType": "all",
              "stylers": [
                {
                  "saturation": -100
                },
                {
                  "gamma": "1"
                }
              ]
            }
          ]
        });

        var imagePath = '/images/map_pin.png';
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: imagePath
        });
      }
      initMap();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg54N9LTZJpbLVUKn-THCNkEX3bTeSTbE&callback=initMap"></script>
<% include _footer %>
