<% var
pageTitle = "";
pageId = "event-detail";
pageUrl = "event-detail_01.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header event-header">
      <div class="l-section__inner page-header__inner event-header__inner">
        <a href="/event-list.html" class="page-header__back event-header__back">Events</a>
        <h1 class="title">Event 1</h1>
      </div>
    </section>
    <section class="l-section page-contents event-article">
      <div class="l-section__inner page-contents__inner event-article__inner">
        <div class="event-detail">
          <div class="event-detail__body event-detail-body">
            <div class="body">
              <p>
                みんなでつくる参加型自主イベント<br>
                2017年のIFI共通のテーマを掲げ全国運動を世界と共有します<br>
                一人一人の力が・・・未来を拓く
              </p>
            </div>
            <h4 class="headline">世界と共有する2017年IFIテーマは「INTERIOR DESIGN FOR GENERATIONS」</h4>
            <div class="body">
              <p>
                世界中のIFI menbersと共にテーマをシェア<br>
                インテリアデザインと暮らしを考える週に企画参加をしましょう。
              </p>
              <p>
                東京ミッドタウン・デザインハブを主会場として全国規模でのイベントを開催します。会期中、デザイナー、建築家、企業、全国的な組織、団体、地方自治体、デザイン愛好家等により東京、名古屋、大阪、神戸、福岡を拠点に国内各地にてさまざまなイベントを開催します。インテリアデザインが、社会、文化、私たちの将来の生活環境に果たす役割について、皆様とともに、積極的に理解を深める活動です。<br>
                会期は、5月25日（木）- 5月31日（水）です。
              </p>
            </div>
            <h4 class="headline">企画参加について</h4>
            <div class="body">
              <p>
                「World Interiors Week 2017 in JAPAN」の趣旨に賛同された方ならどなたでも自主的に企画参加のエントリーができます。WIW期間中に自主的な活動を展開してください。
              </p>
              <p>
                大きな都市の全体イベントから、小さい円卓デスカッションまで種類、大きさ、場所、さまざまな形で開催ができます。<br>
                豊かな暮らしづくりのために私たちとと共に活動しませんか。<br>
                ぜひご参加のお申し込みをお待ちしています。
              </p>
              <p>下記のような活動を期待しています。</p>
            </div>
            <ul class="list">
              <li>販売拠点におけるデザイン訴求イベント</li>
              <li>デザイナーによる主婦・こどもを対象としたワークショップ</li>
              <li>雑誌等による「特集」の展開</li>
              <li>教育機関での公開講座セミナーの開催　など</li>
            </ul>
            <h4 class="headline">企画参加者へのサポート</h4>
            <div class="body">
              <p>自らのデザインイベントを通じて豊かな暮らしへの取り組みを生活者の方々にアピールすることができます。</p>
            </div>
            <ol class="list is-ol">
              <li>
                公式ロゴマークの提供　事業の主催者は（ポスター、パンフレット、ウェブサイト、サイン、ボード、バナー、出展物など）「World Interiors Week 2017 in JAPAN」の名称および公式ロゴマークを広報物に使用することができます。
              </li>
              <li>
                事業は、本ウェブサイトに告知されます。
              </li>
              <li>
                「World Interiors Week 2017 in JAPAN」公式ポスターを1枚提供します。
              </li>
            </ol>
            <h2 class="headline">2016年のレポート</h2>
            <div class="body">
              WIW初開催となりました2016年には、5月25日～５月31日の会期中、東京ミッドタウン・デザインハブを拠点に、札幌から沖縄まで国内各地12都市、2２会場で様々な企画イベントが実施されました。インテリアデザインの専門家、地方自治体、暮らしを大切にしている市民、デザイン愛好家の方々と連携して積極的に行動したイベントは、述べ 5,000人の皆さまにご来場、ご参加を頂きました。
            </p>
          </div>
          <div class="event-files">
            <a href="/pdf/sanka_info_2017.pdf" class="event-files__item" target="_blank">ご案内<span class="file-type">PDF</span></a>
            <a href="/pdf/sanka_kitei_2017.pdf" class="event-files__item" target="_blank">参加規定<span class="file-type">PDF</span></a>
          </div>
          <div class="event-detail__entry">
            <a href="/form_entry_1/" class="button">ENTRY</a>
          </div>
          <div class="event-detail__body event-detail-body">
            <h2 class="headline">地域ネットワークイベント</h2>
            <div class="body">
              この度、より多くの人達に素敵な暮らし、インテリアを体験して頂くために、 「ワールドインテリアウィーク2017」のネットワークイベントとして、インテリアショップ及びショールームをつなぐイベントを開催いたします。<br>
              今年度は、東京、大阪、神戶、名古屋などにネットワークを拡げ、あなたの街のデザインストリートを紹介します。<br>
              掲げるテーマ“Interior Design for Generations ”(インテリアデザイン・フォー・ジェネレーションズ)です。「世代を超えて愛されるインテリアデザイン」は、それは名作家具や永く使える道具など、ハイクオリティデザインのことなのかもしれません。<br>
              今年のテーマを展開させ、インテリアショップやショールームを紹介するイベントは、お気に入りのものを発見する機会となり、生活者の「暮らしが素敵になる」出会いの場になることでしょう。
            </p>
          </div>
          <div class="event-files">
            <a href="/pdf/network_info_2017.pdf" class="event-files__item" target="_blank">ご案内<span class="file-type">PDF</span></a>
            <a href="/pdf/network_kitei_2017.pdf" class="event-files__item" target="_blank">参加規定<span class="file-type">PDF</span></a>
          </div>
          <div class="event-detail__entry">
            <a href="#" class="button is-disable">ENTRY</a>
          </div>
        </div>
      </div>
    </section>
    <script>
      function initMap() {
        var myLatLng = {lat: 35.658581, lng: 139.745433};

        var map = new google.maps.Map(document.getElementById('js-embeded-map'), {
          zoom: 14,
          center: myLatLng,
          styles: [
            {
              "featureType": "all",
              "elementType": "all",
              "stylers": [
                {
                  "saturation": -100
                },
                {
                  "gamma": "1"
                }
              ]
            }
          ]
        });

        var imagePath = '/images/map_pin.png';
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: imagePath
        });
      }
      initMap();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg54N9LTZJpbLVUKn-THCNkEX3bTeSTbE&callback=initMap"></script>
<% include _footer %>
