<% var
pageTitle = "";
pageId = "event-detail";
pageUrl = "event-detail_04.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header event-header">
      <div class="l-section__inner page-header__inner event-header__inner">
        <a href="/event-list.html" class="page-header__back event-header__back">Events</a>
        <h1 class="title">Event 4</h1>
      </div>
    </section>
    <section class="l-section page-contents event-article">
      <div class="l-section__inner page-contents__inner event-article__inner">
        <div class="event-detail">
          <div class="event-detail__body event-detail-body">
            <h2 class="headline">名称：「World Interiors Day」デザインシンポジウム &amp; ワインパーティ</h2>
            <p class="body">
              日時：2017年５月27日（土）<br>
              1部 13:30 - 17:20 / 2部 17:20- 17:50 / 3部 18:00 - 19:30 ワインパーティ<br>
              会場：デザインハブ内インターナショナル・デザイン・リエゾンセンター<br>
              参加者対象：一般・学生・建築家・デザイナー、建築家、教育関係者など<br>
              参加費：2,000円（事前申し込み制 / 事前振込：シンポジウム＆パーティ通し2,000円 / 当日払い：シンポジウム＆パーティ通し3,000円）/学生500円/高校生以下無料<br>
              定員：80名<br>
              概要：<br>
              5月27日(土）はIFI『World Interiors Day』。IFIメンバーと繋がって世界中で住まいと環境とその暮らしを考える、世界同時イベント日です。IFIのメンバーであるJID・JDPは、IFI 『World Interiors Day』の活動の認知と理解を深めるためデザインシンポジウムを開催します。2017年世界共通テーマ“Interior Design for Generations ”を掲げて、日々の暮らしと環境への目指しを改めて考えるホスト役を務めたいと考えています。 『Next Generationsーインテリアデザイナー展』 出展デザイナーによる作品プレゼンテーション及びトークセッションを行います。グローバルプラットフォームの一翼を担い日本から「デザイン力」を発信します。<br>
              WID祝典のパーティは、出展デザイナー、インテリア関連企業、出席者の交流の場といたします。
            </p>
          </div>
          <div class="event-detail__table event-detail-table">
            <h2 class="event-detail-table__title">タイムチャート</h2>
            <table class="is-striped">
              <tbody>
                <tr>
                  <th class="time">13:00</th>
                  <td colspan="2">受付スタート</td>
                </tr>
                <tr>
                  <th class="time">13:30</th>
                  <td>デザインシンポジウム開会</td>
                  <td class="is-note">開会挨拶<br>喜多俊之氏（WIW実行委員長/前日本インテリアデザイナー協会理事長/大阪芸術大学教授/株式会社 喜多俊之デザイン研究所 代表）</td>
                </tr>
                <tr>
                  <th class="time">13:40</th>
                  <td>WIWオリエンテーション</td>
                  <td class="is-note">池田和修氏（日本インテリアデザイナー協会理事長）</td>
                </tr>
                <tr>
                  <th class="time">13:50</th>
                  <td colspan="2">出展デザイナーによるプレゼンテーション1</td>
                </tr>
                <tr>
                  <th class="time">14:10</th>
                  <td colspan="2">出展デザイナーによるプレゼンテーション2</td>
                </tr>
                <tr>
                  <th class="time">14:30</th>
                  <td colspan="2">出展デザイナーによるプレゼンテーション3</td>
                </tr>
                <tr>
                  <th class="time">14:50</th>
                  <td colspan="2">出展デザイナーによるプレゼンテーション4</td>
                </tr>
                <tr>
                  <th class="time">15:10</th>
                  <td colspan="2">出展デザイナーによるプレゼンテーション5</td>
                </tr>
                <tr>
                  <th class="time">15:30</th>
                  <td colspan="2">休憩</td>
                </tr>
                <tr>
                  <th class="time">15:40</th>
                  <td colspan="2">出展デザイナーによるプレゼンテーション6</td>
                </tr>
                <tr>
                  <th class="time">16:00</th>
                  <td colspan="2">出展デザイナーによるプレゼンテーション7</td>
                </tr>
                <tr>
                  <th class="time">16:20</th>
                  <td colspan="2">出展デザイナーによるプレゼンテーション8</td>
                </tr>
                <tr>
                  <th class="time">16:40</th>
                  <td colspan="2">出展デザイナーによるプレゼンテーション9</td>
                </tr>
                <tr>
                  <th class="time">17:00</th>
                  <td colspan="2">出展デザイナーによるプレゼンテーション10</td>
                </tr>
                <tr>
                  <th class="time">17:20-17:50</th>
                  <td>トークセッション<br>「『暮らしの未来』の行方は？」</td>
                  <td class="is-note">喜多俊之氏（WIW実行委員長/前日本インテリアデザイナー協会理事長）<br>廣村正彰氏（廣村正彰デザイン事務所 代表取締役）<br>青木史郎氏（日本デザイン振興会 常務理事）</td>
                </tr>
                <tr>
                  <th class="time">17:50</th>
                  <td>デザインシンポジウム閉会</td>
                  <td class="is-note">閉会挨拶 大井篤氏（日本デザイン振興会 理事長）</td>
                </tr>
                <tr>
                  <th class="time">18:00</th>
                  <td>WID祝典会 - ワインパーティ</td>
                  <td class="is-note">乾杯挨拶 川上元美氏（日本デザイン振興会 会長）</td>
                </tr>
                <tr>
                  <th class="time">19:30</th>
                  <td colspan="2">閉会</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="event-detail__entry">
            <a href="/form_join_4/" class="button">JOIN</a>
          </div>
        </div>
      </div>
    </section>
    <script>
      function initMap() {
        var myLatLng = {lat: 35.658581, lng: 139.745433};

        var map = new google.maps.Map(document.getElementById('js-embeded-map'), {
          zoom: 14,
          center: myLatLng,
          styles: [
            {
              "featureType": "all",
              "elementType": "all",
              "stylers": [
                {
                  "saturation": -100
                },
                {
                  "gamma": "1"
                }
              ]
            }
          ]
        });

        var imagePath = '/images/map_pin.png';
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: imagePath
        });
      }
      initMap();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg54N9LTZJpbLVUKn-THCNkEX3bTeSTbE&callback=initMap"></script>
<% include _footer %>
