<% var
pageTitle = "";
pageId = "index";
pageUrl = "";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section kv">
      <div class="kv__image slider js-kv-slider kv-slider">
        <div class="slider__item kv-slider__item kv-slider-item">
          <div class="kv-slider-item__inner">
            <img src="/images/kv_01.jpg" class="kv-slider-item__image" alt="">
          </div>
        </div>
        <div class="slider__item kv-slider__item kv-slider-item">
          <div class="kv-slider-item__inner">
            <img src="/images/kv_02.jpg" class="kv-slider-item__image" alt="">
          </div>
        </div>
        <div class="slider__item kv-slider__item kv-slider-item">
          <div class="kv-slider-item__inner">
            <img src="/images/kv_03.jpg" class="kv-slider-item__image" alt="">
          </div>
        </div>
      </div>
      <div class="kv__text">
        <%# <img src="/images/concept_pc.png" alt="">%>
        <h2 class="image-wrapper is-catch">
          <img src="/images/catch.svg" alt="「人」と「暮らし」を「デザイン」でつなぐ国際イベント">
        </h2>
        <div class="image-wrapper is-title_theme is-title-label">
          2017年世界共通テーマ
          <%# <img src="/images/title_theme.svg" alt="">%>
        </div>
        <h3 class="image-wrapper is-theme">
          <img src="/images/theme.svg" alt="Interior Design for Generations">
        </h3>
        <div class="image-wrapper is-date">
          <img src="/images/date.svg" alt="2017年5月27日（土）〜5月28日（日）">
        </div>
        <div class="image-wrapper is-title_place_main is-title-label">
          メイン会場
          <%# <img src="/images/title_place_main.svg" alt="">%>
        </div>
        <div class="image-wrapper is-place_main">
          <img src="/images/place_main.svg" alt="東京ミッドタウン・デザインハブ">
        </div>
        <div class="image-wrapper is-title_place_area is-title-label">
          エリアイベント
          <%# <img src="/images/title_place_area.svg" alt="">%>
        </div>
        <div class="image-wrapper is-place_area">
          <img src="/images/place_area.svg" alt="札幌、新潟、東京、名古屋、大阪、神戸、福岡、沖縄">
        </div>
        <div class="image-wrapper is-title_place_events is-title-label">
          参加型自主イベント会場
          <%# <img src="/images/title_place_events.svg" alt="">%>
        </div>
        <div class="image-wrapper is-place_events">
          <img src="/images/place_events.svg" alt="国内各地">
          <a href="/form_entry_1/" class="kv-entry link-arrow"><span>Entry</span></a>
        </div>
      </div>
    </section>
    <section class="l-section">
      <div class="l-section__inner intro">
        <div class="intro__logo">
          <svg role="image" class="svg-icon">
            <use xlink:href="/images/icons.svg#logo" />
          </svg>
        </div>
        <div class="intro__body">
          <h3 class="headline">ワールドインテリアウィーク</h3>
          <p>インテリアデザインが、社会、文化、私たちの将来の生活環境に果たす役割について、皆様と共に積極的に理解を深める運動です。</p>
          <p>IFI (国際インテリアアーキテクト/デザイナー団体連合) が推奨している世界同時イベント<strong>「World Interiors Day」</strong>を受けて、IFIメンバーである JID と JDP は、この活動を支援すると共に日本ではさらに拡張させ毎年5月最終土曜日を含めた1週間を、インテリアデザインと暮らしを考える週として「World Interiors Week in JAPAN」と称し広範囲な運動を展開します。</p>
        </div>
      </div>
    </section>
    <section class="l-section top-news">
      <div class="top-news__list top-news-list">
        <a href="/news-article_20160529_02.html" class="top-news-list__item top-news-item">
          <img src="/images/news_20160529_02_list.jpg" class="image" alt="">
          <span class="info">
            <span class="date">2016.05.29 Sun</span>
            <span class="title">参加型自主イベント・新発田</span>
          </span>
        </a>
        <a href="/news-article_20160529_01.html" class="top-news-list__item top-news-item">
          <img src="/images/news_20160529_01_list.jpg" class="image" alt="">
          <span class="info">
            <span class="date">2016.05.29 Sun</span>
            <span class="title">参加型自主イベント・沖縄</span>
          </span>
        </a>
        <a href="/news-article_20160528_02.html" class="top-news-list__item top-news-item">
          <img src="/images/news_20160528_02_list.jpg" class="image" alt="">
          <span class="info">
            <span class="date">2016.05.28 Sat</span>
            <span class="title">参加型自主イベント・大阪</span>
          </span>
        </a>
        <a href="/news-article_20160528_01.html" class="top-news-list__item top-news-item">
          <img src="/images/news_20160528_01_list.jpg" class="image" alt="">
          <span class="info">
            <span class="date">2016.05.28 Sat</span>
            <span class="title">特別公認イベント・横浜</span>
          </span>
        </a>
        <a href="/news-article_20160527_01.html" class="top-news-list__item top-news-item">
          <img src="/images/news_20160527_01_list.jpg" class="image" alt="">
          <span class="info">
            <span class="date">2016.05.27 Fri</span>
            <span class="title">参加型自主イベント・名古屋</span>
          </span>
        </a>
        <a href="/news-article_20160413_01.html" class="top-news-list__item top-news-item">
          <img src="/images/news_20160413_01_list.jpg" class="image" alt="">
          <span class="info">
            <span class="date">2016.04.13 Wed</span>
            <span class="title">対談・ミラノ</span>
          </span>
        </a>
      </div>
      <a href="/news-list.html" class="top-news__more link-arrow"><span>News Topics</span></a>
    </section>
    <section class="l-section">
      <div class="slider js-event-slider event-slider">
        <div class="slider__item event-slider__item event-slider-item">
          <div class="event-slider-item__inner">
            <img src="/images/events-list_01.jpg" class="event-slider-item__image">
            <div class="event-slider-item__text">
              <p class="note">企画参加募集中</p>
              <h2 class="title">Event 1</h2>
              <h3 class="sub-title">参加型自主イベント<br>地域ネットワークイベント</h3>
              <p class="desc">
                みんなでつくる参加型イベント<br>
                IFI共通のテーマを掲げ全国運動を世界と共通する<br>
                一人一人の力が・・・未来を拓く
              </p>
              <div class="event-slider-links">
                <a href="/event-detail_01.html" class="event-slider-links__item link-arrow"><span>More</span></a>
                <a href="/form_entry_1/" class="event-slider-links__item link-arrow"><span>Entry</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="l-section top-events">
      <div class="l-section__inner top-events__inner">
        <div class="top-events__calendar top-calendar">
          <h2 class="top-calendar__title">
            <svg role="image" class="svg-icon en">
              <use xlink:href="/images/icons.svg#title_calendar" />
            </svg>
            <span class="ja">イベントカレンダー</span>
          </h2>
          <div class="top-calendar__list top-calendar-list">
            <a href="/calendar-detail_01.html" class="top-calendar-list__item">
              <p class="date">
                <span class="date-num">2017.5.15-27</span>
              </p>
              <h3 class="title">「もの・空間デザイン学生作品展と神戸家具展示」</h3>
            </a>
            <a href="/calendar-detail_02.html" class="top-calendar-list__item">
              <p class="date">
                <span class="date-num">2017.5.26</span>
              </p>
              <h3 class="title">「女性インテリア先駆者たちの道のり」</h3>
            </a>
            <a href="/calendar-detail_03.html" class="top-calendar-list__item">
              <p class="date">
                <span class="date-num">2017.5.27</span>
              </p>
              <h3 class="title">「JID女性会員によるデザインカンファレンス」</h3>
            </a>
            <a href="/calendar-detail_04.html" class="top-calendar-list__item">
              <p class="date">
                <span class="date-num">2017.4.2-5.28</span>
              </p>
              <h3 class="title">第25回九州産業大学美術館所蔵品展/歴史にすわるpart6-素材で感じるイスの世界</h3>
            </a>
            <a href="/calendar-detail_05.html" class="top-calendar-list__item">
              <p class="date">
                <span class="date-num">2017.5.25-28</span>
              </p>
              <h3 class="title">高橋智志 椅子のデザイン展</h3>
            </a>
            <a href="/calendar-detail_06.html" class="top-calendar-list__item">
              <p class="date">
                <span class="date-num">2017.5.25-31</span>
              </p>
              <h3 class="title">新しい畳への挑戦</h3>
            </a>
            <a href="/calendar-detail_07.html" class="top-calendar-list__item">
              <p class="date">
                <span class="date-num">2017.5.25</span>
              </p>
              <h3 class="title">IFI World Interiors Day in ICS</h3>
            </a>
            <a href="/calendar-detail_08.html" class="top-calendar-list__item">
              <p class="date">
                <span class="date-num">2017.5.31-6.4</span>
              </p>
              <h3 class="title">高品質の家具と『和のインテリア』の出会い」</h3>
            </a>
            <a href="/calendar-detail_09.html" class="top-calendar-list__item">
              <p class="date">
                <span class="date-num">2017.5.26-27</span>
              </p>
              <h3 class="title">シェアアトリエrebotを一般公開</h3>
            </a>
            <a href="/calendar-detail_10.html" class="top-calendar-list__item">
              <p class="date">
                <span class="date-num">2017.5.25-31</span>
              </p>
              <h3 class="title">Office design for Generations</h3>
            </a>
            <a href="/calendar-detail_11.html" class="top-calendar-list__item">
              <p class="date">
                <span class="date-num">2017.5.26-28</span>
              </p>
              <h3 class="title">World Interiors Week 2017 in NAGOYA</h3>
            </a>
            <a href="/calendar-detail_12.html" class="top-calendar-list__item">
              <p class="date">
                <span class="date-num">2017.5.30-6.3</span>
              </p>
              <h3 class="title">世界をつなぐCreator達のART &amp; DESIGN exhibition</h3>
            </a>
            <a href="/calendar-detail_13.html" class="top-calendar-list__item">
              <p class="date">
                <span class="date-num">2017.4.27-6.13</span>
              </p>
              <h3 class="title">ISU-WORKS 暮らしえを彩る椅子を紹介</h3>
            </a>
            <a href="/calendar-detail_14.html" class="top-calendar-list__item">
              <p class="date">
                <span class="date-num">2017.4.29-6.30</span>
              </p>
              <h3 class="title">お気に入りの居場所をつくる家具</h3>
            </a>
            <a href="/calendar-detail_15.html" class="top-calendar-list__item">
              <p class="date">
                <span class="date-num">2017.5.26-6.3</span>
              </p>
              <h3 class="title">暮らしの未来--Next Generationインテリアデザイナー展</h3>
            </a>
          </div>
          <div class="top-calendar__more">
            <a href="/calendar-list.html" class="link-arrow"><span>More</span></a>
          </div>
        </div>
        <ul class="top-events__list top-events-list">
          <li class="top-events-list__item">
            <h2 class="title">
              <span class="en">Event 2</span>
              <span class="ja">ワールドインテリアトレンドレポート<br>2017.5.26 FRI</span>
            </h2>
            <p class="desc">
              いち早く知ることができる国際展示会情報<br>
              最新デザイントレンド情報<br>
              デザイン諸国からのメッセージ
            </p>
            <h2 class="title">
              <span class="ja">ワークショップ<br>2017.5.28 SUN / 6.3 SAT </span>
            </h2>
            <p class="desc">
              デザイナーと一緒に楽しい手作り体験
            </p>
            <div class="top-events-links">
              <a href="/event-detail_02.html" class="top-events-links__item link-arrow is-s"><span>More</span></a>
              <a href="/form_join_2/" class="top-events-links__item link-arrow is-s"><span>Join</span></a>
            </div>
          </li>
          <li class="top-events-list__item">
            <h2 class="title">
              <span class="en">Event 3</span>
              <span class="ja">東京ミッドタウン・デザインハブ企画展<br>暮らしの未来「Next Generation - インテリアデザイナー展」<br>2017.5.26 FRI - 6.3 SAT</span>
            </h2>
            <p class="desc">
              次世代デザイナーの紹介及び作品展<br>
              豊かな暮らし・未来のためデザイナーは何を思考するのか
            </p>
            <h2 class="title">
              <span class="ja">連動企画展</span>
            </h2>
            <p class="desc">
              住まいのインテリアコーディネーションコンテスト『高校生部門受賞作品展』
            </p>
            <div class="top-events-links">
              <a href="/event-detail_03.html" class="top-events-links__item link-arrow is-s"><span>More</span></a>
            </div>
          </li>
          <li class="top-events-list__item">
            <h2 class="title">
              <span class="en">Event 4</span>
              <span class="ja">WORLD INTERIOR DAY / デザインシンポジウム<br>2017.5.27 SAT</span>
            </h2>
            <p class="desc">
              日本と世界がデザインでつながる日<br>
              世界規模の同時開催イベント IFI「WORLD INTERIORS DAY」<br>
              デザインシンポジウム
            </p>
            <div class="top-events-links">
              <a href="/event-detail_04.html" class="top-events-links__item link-arrow is-s"><span>More</span></a>
              <a href="/form_join_4/" class="top-events-links__item link-arrow is-s"><span>Join</span></a>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="l-section top-banners">
      <div class="l-section__inner top-banners__inner">
        <div class="top-banners-large">
          <a href="sponsor-detail_void.html" class="top-banners-large__item">
            <img src="/images/banner_l_void.png" alt="">
          </a>
          <a href="sponsor-detail_manas.html" class="top-banners-large__item">
            <img src="/images/banner_l_manas.png" alt="">
          </a>
          <a href="sponsor-detail_phtex.html" class="top-banners-large__item">
            <img src="/images/banner_l_pht.jpg" alt="">
          </a>
          <a href="sponsor-detail_toppan.html" class="top-banners-large__item">
            <img src="/images/banner_l_toppan.jpg" alt="">
          </a>
          <a href="sponsor-detail_hasetora.html" class="top-banners-large__item">
            <img src="/images/banner_l_hasetora.jpg" alt="">
          </a>
          <a href="sponsor-detail_aidec.html" class="top-banners-large__item">
            <img src="/images/banner_l_aidec.jpg" alt="">
          </a>
          <a href="sponsor-detail_warlon.html" class="top-banners-large__item">
            <img src="/images/banner_l_warlon.jpg" alt="">
          </a>
          <a href="sponsor-detail_jtb.html" class="top-banners-large__item">
            <img src="/images/banner_l_jtb.jpg" alt="">
          </a>
        </div>
        <div class="top-banners-small">
          <span class="top-banners-small__item">
            <img src="/images/banner_s_wonderbal.png" alt="">
          </span>
          <span class="top-banners-small__item">
            <img src="/images/banner_s_kohler.png" alt="">
          </span>
          <span class="top-banners-small__item">
            <img src="/images/banner_s_hirata.png" alt="">
          </span>
          <span class="top-banners-small__item">
            <img src="/images/banner_s_gervasoni.png" alt="">
          </span>
          <a href="sponsor-detail_ikuta.html" class="top-banners-small__item">
            <img src="/images/banner_s_ikuta.png" alt="">
          </a>
          <a href="sponsor-detail_adal.html" class="top-banners-small__item">
            <img src="/images/banner_s_adal.jpg" alt="">
          </a>
          <a href="sponsor-detail_toso.html" class="top-banners-small__item">
            <img src="/images/banner_s_toso.jpg" alt="">
          </a>
          <a href="sponsor-detail_adcore.html" class="top-banners-small__item">
            <img src="/images/banner_s_adcore.jpg" alt="">
          </a>
          <a href="sponsor-detail_tominet.html" class="top-banners-small__item">
            <img src="/images/banner_s_tominet.jpg" alt="">
          </a>
          <a href="sponsor-detail_watermark.html" class="top-banners-small__item">
            <img src="/images/banner_s_watermark.jpg" alt="">
          </a>
          <a href="sponsor-detail_tomoly.html" class="top-banners-small__item">
            <img src="/images/banner_s_tomoly.jpg" alt="">
          </a>
          <a href="sponsor-detail_kashiwa.html" class="top-banners-small__item">
            <img src="/images/banner_s_kashiwa.jpg" alt="">
          </a>
          <a href="sponsor-detail_haru.html" class="top-banners-small__item">
            <img src="/images/banner_s_haru.jpg" alt="">
          </a>
          <a href="sponsor-detail_yoshichu.html" class="top-banners-small__item">
            <img src="/images/banner_s_yoshichu.jpg" alt="">
          </a>
        </div>
        <nav class="sponsors">
          <a href="http://www.jidp.or.jp/" target="_blank" class="sponsors__item"><img src="/images/logo_jdp.png" class="js-retina-img" alt="JDP" width="225" height="30"></a>
          <a href="http://www.jid.or.jp/" target="_blank" class="sponsors__item"><img src="/images/logo_jid.png" class="js-retina-img" alt="JID" width="288" height="23"></a>
          <a href="http://www.ifiworld.org/" target="_blank" class="sponsors__item"><img src="/images/logo_ifi.png" class="js-retina-img" alt="IFI" width="191" height="24"></a>
        </nav>
      </div>
    </section>
<% include _footer %>
