<% var
pageTitle = "";
pageId = "news-article";
pageUrl = "news-article.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header news-header">
      <div class="l-section__inner page-header__inner news-header__inner">
        <a href="/news-list.html" class="page-header__back news-header__back">News</a>
        <p class="date">2016.04.13 Wed</p>
        <h1 class="title">対談・ミラノ</h1>
      </div>
    </section>
    <section class="l-section page-contents news-article">
      <div class="l-section__inner page-contents__inner news-article__inner">
        <div class="news-main">
          <div class="news-main__body news-main-body is-news">
            <img src="/images/news_20160413_01.jpg" alt="" class="image">
            <p class="body">
              Sebasutiano Renari IFI 理事長と喜多俊之WIW実行委員長。WIW初開催の祝辞と応援エールをいただき握手を交わす。
            </p>
          </div>
        </div>
      </div>
    </section>
<% include _footer %>
