<% var
pageTitle = "";
pageId = "news-article";
pageUrl = "news-article_20160529_02.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header news-header">
      <div class="l-section__inner page-header__inner news-header__inner">
        <a href="/news-list.html" class="page-header__back news-header__back">News</a>
        <p class="date">2016.05.29 Sun</p>
        <h1 class="title">参加型自主イベント・新発田</h1>
      </div>
    </section>
    <section class="l-section page-contents news-article">
      <div class="l-section__inner page-contents__inner news-article__inner">
        <div class="news-main">
          <div class="news-main__body news-main-body is-news">
            <img src="/images/news_20160529_02.jpg" alt="" class="image">
            <p class="body">
              ノエミ・レーモンドさんデザイン椅子の修復修復には高橋智志(主催者）と長岡造形大学と新潟職業能力開発短期大学校の准教授・学生、一般の方、述べ15人以上が参加（SODデザイン）
            </p>
          </div>
        </div>
      </div>
    </section>
<% include _footer %>
