<% var
pageTitle = "";
pageId = "news-list";
pageUrl = "news-list.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header">
      <div class="l-section__inner page-header__inner">
        <h1 class="title">News</h1>
      </div>
    </section>
    <section class="l-section page-contents">
      <div class="l-section__inner page-contents__inner">
        <div class="news-list">
          <a href="/news-article_20160529_02.html" class="news-list__item news-list-item">
            <img src="/images/news_20160529_02_list.jpg" alt="" class="news-list-item__image">
            <span class="news-list-item__text">
              <span class="date">2016.05.29 Sun</span>
              <span class="title">参加型自主イベント・新発田</span>
            </span>
          </a>
          <a href="/news-article_20160529_01.html" class="news-list__item news-list-item">
            <img src="/images/news_20160529_01_list.jpg" alt="" class="news-list-item__image">
            <span class="news-list-item__text">
              <span class="date">2016.05.29 Sun</span>
              <span class="title">参加型自主イベント・沖縄</span>
            </span>
          </a>
          <a href="/news-article_20160528_02.html" class="news-list__item news-list-item">
            <img src="/images/news_20160528_02_list.jpg" alt="" class="news-list-item__image">
            <span class="news-list-item__text">
              <span class="date">2016.05.28 Sat</span>
              <span class="title">参加型自主イベント・大阪</span>
            </span>
          </a>
          <a href="/news-article_20160528_01.html" class="news-list__item news-list-item">
            <img src="/images/news_20160528_01_list.jpg" alt="" class="news-list-item__image">
            <span class="news-list-item__text">
              <span class="date">2016.05.28 Sat</span>
              <span class="title">特別公認イベント・横浜</span>
            </span>
          </a>
          <a href="/news-article_20160527_01.html" class="news-list__item news-list-item">
            <img src="/images/news_20160527_01_list.jpg" alt="" class="news-list-item__image">
            <span class="news-list-item__text">
              <span class="date">2016.05.27 Fri</span>
              <span class="title">参加型自主イベント・名古屋</span>
            </span>
          </a>
          <a href="/news-article_20160413_01.html" class="news-list__item news-list-item">
            <img src="/images/news_20160413_01_list.jpg" alt="" class="news-list-item__image">
            <span class="news-list-item__text">
              <span class="date">2016.04.13 Wed</span>
              <span class="title">対談・ミラノ</span>
            </span>
          </a>
        </div>
      </div>
    </section>
<% include _footer %>
