<% var
pageTitle = "";
pageId = "news-article";
pageUrl = "news-article_20160528_01.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header news-header">
      <div class="l-section__inner page-header__inner news-header__inner">
        <a href="/news-list.html" class="page-header__back news-header__back">News</a>
        <p class="date">2016.05.28 Sat</p>
        <h1 class="title">特別公認イベント・横浜</h1>
      </div>
    </section>
    <section class="l-section page-contents news-article">
      <div class="l-section__inner page-contents__inner news-article__inner">
        <div class="news-main">
          <div class="news-main__body news-main-body is-news">
            <img src="/images/news_20160528_01.jpg" alt="" class="image">
            <p class="body">
              家具新聞社主催「横浜でチャールズ・イームズを想う」講演会　（横浜情報文化センター ホール）
            </p>
          </div>
        </div>
      </div>
    </section>
<% include _footer %>
