<% var
pageTitle = "";
pageId = "news-article";
pageUrl = "news-article_20160529_01.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header news-header">
      <div class="l-section__inner page-header__inner news-header__inner">
        <a href="/news-list.html" class="page-header__back news-header__back">News</a>
        <p class="date">2016.05.29 Sun</p>
        <h1 class="title">参加型自主イベント・沖縄</h1>
      </div>
    </section>
    <section class="l-section page-contents news-article">
      <div class="l-section__inner page-contents__inner news-article__inner">
        <div class="news-main">
          <div class="news-main__body news-main-body is-news">
            <img src="/images/news_20160529_01.jpg" alt="" class="image">
            <p class="body">
              「暮らしデザイン展 」― 豊かな会話が生まれる<br>
              テーブルコーディネーションin 沖縄（ヨナシロ中城モール）
            </p>
          </div>
        </div>
      </div>
    </section>
<% include _footer %>
