<% var
pageTitle = "";
pageId = "sponsor-detail";
pageUrl = "sponsor-detail_ikuta.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header sponsor-header">
      <div class="l-section__inner page-header__inner sponsor-header__inner">
        <h1 class="title">株式会社イクタ</h1>
      </div>
    </section>
    <section class="l-section page-contents sponsor-article">
      <div class="l-section__inner page-contents__inner sponsor-article__inner">
        <div class="sponsor-detail">
          <div class="sponsor-detail__info sponsor-info">
            <h2 class="sponsor-info__title">Company Information</h2>
            <div class="sponsor-info__body sponsor-info-body">
              <div class="sponsor-info-body__item">
                <div class="sponsor-address">
                  <h3 class="name">東京オフィス／青山ショールーム</h3>
                  <p class="address">東京都港区南青山3-5-1 O＆K南青山401</p><p class="address">TEL 03-6721-0191</p>
                  <div class="embeded-map" id="js-embeded-map"></div>
                  <a href="http://ikuta.co.jp/" class="sponsor-detail-link button" target="_blank"><span>Website</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      function initMap() {
        var myLatLng = {lat: 35.666769, lng: 139.716685};

        var map = new google.maps.Map(document.getElementById('js-embeded-map'), {
          zoom: 16,
          center: myLatLng,
          styles: [
            {
              "featureType": "all",
              "elementType": "all",
              "stylers": [
                {
                  "saturation": -100
                },
                {
                  "gamma": "1"
                }
              ]
            }
          ]
        });

        var imagePath = '/images/map_pin.png';
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: imagePath
        });
      }
      initMap();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg54N9LTZJpbLVUKn-THCNkEX3bTeSTbE&callback=initMap"></script>
<% include _footer %>
