<% var
pageTitle = "";
pageId = "sponsor-detail";
pageUrl = "sponsor-detail_void.html";
pageDescription = "";
pageKeywords = "";
isEnglish = false;
%><% include _header %>
    <section class="l-section page-header sponsor-header">
      <div class="l-section__inner page-header__inner sponsor-header__inner">
        <h1 class="title">アイカ工業株式会社</h1>
      </div>
    </section>
    <section class="l-section page-contents sponsor-article">
      <div class="l-section__inner page-contents__inner sponsor-article__inner">
        <div class="sponsor-detail">
          <div class="sponsor-detail__info sponsor-info">
            <h2 class="sponsor-info__title">Company Information</h2>
            <div class="sponsor-info__body sponsor-info-body">
              <div class="sponsor-info-body__item">
                <div class="sponsor-address">
                  <h3 class="name">本社</h3>
                  <p class="address">愛知県清須市西堀江2288番地</p><p class="address">TEL 052-409-8000</p>
                  <div class="embeded-map" id="js-embeded-map-1"></div>
                  <h3 class="name">東京ショールーム</h3>
                  <p class="address">東京都新宿区西新宿2-4-1 新宿NSビル22階</p><p class="address">TEL 03-6770-2012</p>
                  <div class="embeded-map" id="js-embeded-map-2"></div>
                  <a href="http://www.aica.co.jp" class="sponsor-detail-link button" target="_blank"><span>Website</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      function initMap() {
        var myLatLng1 = {lat: 35.190552, lng: 136.846327};
        var myLatLng2 = {lat: 35.688188, lng: 139.693745};

        var map1 = new google.maps.Map(document.getElementById('js-embeded-map-1'), {
          zoom: 16,
          center: myLatLng1,
          styles: [
            {
              "featureType": "all",
              "elementType": "all",
              "stylers": [
                {
                  "saturation": -100
                },
                {
                  "gamma": "1"
                }
              ]
            }
          ]
        });

        var map2 = new google.maps.Map(document.getElementById('js-embeded-map-2'), {
          zoom: 16,
          center: myLatLng2,
          styles: [
            {
              "featureType": "all",
              "elementType": "all",
              "stylers": [
                {
                  "saturation": -100
                },
                {
                  "gamma": "1"
                }
              ]
            }
          ]
        });

        var imagePath = '/images/map_pin.png';
        var marker1 = new google.maps.Marker({
          position: myLatLng1,
          map: map1,
          icon: imagePath
        });
        var marker2 = new google.maps.Marker({
          position: myLatLng2,
          map: map2,
          icon: imagePath
        });
      }
      initMap();
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg54N9LTZJpbLVUKn-THCNkEX3bTeSTbE&callback=initMap"></script>
<% include _footer %>
