.va-m {
  vertical-align: middle !important;
}

.fw-b {
  font-weight: bold;
}

.show-md {
  display: none;

  @media #{$mq-md} {
    display: block;
  }
}

br.show-md {
  display: none;

  @media #{$mq-md} {
    display: inline;
  }
}

.show-sm {
  display: none;

  @media #{$mq-sm} {
    display: block;
  }
}

br.show-sm {
  display: none;

  @media #{$mq-sm} {
    display: inline;
  }
}

.hide-sm {

  @media #{$mq-sm} {
    display: none !important;
  }
}
