// Button

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 328px;
  height: 54px;
  line-height: 50px;
  border: none;
  @include fz(16);
  font-weight: bold;
  text-indent: .16em;
  letter-spacing: .16em;
  background: $color-btn;
  color: #fff;
  text-align: center;
  text-decoration: none;
  outline: 0;
  appearance: none;
  box-shadow: none;
  cursor: pointer;
  transition: all $duration-transition ease;
  white-space: nowrap;
  @include hover-opacity;

  @media #{$mq-sm} {
    max-width: none;
    height: 48px;
    line-height: 44px;
  }

  &.is-disable,
  &[disabled="disabled"] {
    background: #ddd;
    color: #999;
    pointer-events: none;
  }
}

.link-arrow {
  @include hover-opacity;

  &:hover {

    > span {

      &::before {
        transform: translate(2px, -50%);
      }
    }
  }

  &.is-s {
    @include fz(14);

    > span {
      padding-right: 27px;

      &::before {
        width: 16px;
        height: 16px;
      }
    }
  }

  > span {
    position: relative;
    display: inline-block;
    padding-right: 32px;
    font-weight: bold;
    text-transform: uppercase;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 20px;
      height: 20px;
      background: url(../images/icon_link.svg) 0 0 no-repeat;
      background-size: 100% auto;
      transform: translate(0, -50%);
      transition: all $duration-transition ease;
    }
  }
}
