.contact-form {

  .wpcf7-list-item {
    display: block;
    margin: 0;
  }

  .wpcf7-mail-sent-ok {
    border-color: $color-accent;
    color: $color-accent;
    font-weight: 600;
  }

  .wpcf7-response-output {
    margin: 0;
    padding: 0.5em 1em;
    background: #fff;
  }
}
