.slider-wrapper {
}

.slider {
  width: 100%;

  &__item {
    width: 100%;
  }
}

.slick-slider {
}

.slick-arrow {
  position: absolute;
  z-index: 1001;
  top: 50%;
  overflow: hidden;
  margin-top: -18px;
  width: 36px;
  height: 36px;
  border: 0;
  border-radius: 50%;
  background: $color-key;
  text-indent: -9999px;
  outline: 0;
  appearance: none;
  cursor: pointer;
  transition: all $duration-transition ease;

  @media #{$mq-sm} {
    top: 50vw;
  }

  &:hover {
    background: $color-base;

    &::before {
      transform: rotate(60deg);
    }

    &::after {
      transform: rotate(-60deg);
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin-bottom: -1px;
    margin-left: -7px;
    width: 12px;
    height: 3px;
    background: #fff;
    transform: rotate(45deg);
    transform-origin: right;
    transition: all $duration-transition ease;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin-top: -1px;
    margin-left: -7px;
    width: 12px;
    height: 3px;
    background: #fff;
    transform: rotate(-45deg);
    transform-origin: right;
    transition: all $duration-transition ease;
  }

  &.slick-prev {
    left: 20px;
    transform: rotate(180deg);
  }

  &.slick-next {
    right: 20px;
  }
}

.slick-dots {
  $sz: 9px;
  position: absolute;
  z-index: 1001;
  bottom: 50px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;

  @media #{$mq-md} {
    // position: static;
    top: 89vw;
    bottom: auto;
    margin-top: -24px;
    margin-left: 0;
    // padding-bottom: 20px;
    transform: translateX(-50%);
  }

  > li {
    display: inline-block;
    width: $sz;
    height: $sz;

    + li {
      margin-left: $sz;
    }

    button {
      overflow: hidden;
      display: block;
      width: $sz;
      height: $sz;
      padding: 0;
      border: 0;
      background: $color-base;
      border-radius: 50%;
      text-indent: -9999px;
      outline: 0;
      appearance: none;
      cursor: pointer;
      transition: all $duration-transition ease;

      &:hover {
        background: $color-key;
      }
    }

    &.slick-active {

      button {
        background: $color-key;
      }
    }
  }
}
