.l-footer {
  width: 100%;
  padding: 50px 0 45px;
  background: $color-key;
  color: #fff;

  @media #{$mq-md} {
    padding: 30px 0;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    max-width: $content-width-pc-xl;

    @media #{$mq-xl} {
      max-width: $content-width-pc-lg;
    }

    @media #{$mq-lg} {
      max-width: $content-width-pc;
      padding: 0 60px;
    }

    @media #{$mq-md} {
      flex-direction: column;
      padding: 0 20px;
    }
  }
}

.footer {
  color: #fff;

  @media #{$mq-md} {
    position: relative;
    flex-direction: column;
    align-items: stretch;
  }
}

.footer-logo {

  &__logo {
    width: 284px;
    height: 131px;
    fill: #fff;

    @media #{$mq-md} {
      width: 140px;
      height: 65px;
    }
  }
}

.footer-nav {
  display: flex;
  margin-left: 152px;

  @media #{$mq-lg} {
    margin-left: 80px;
  }

  @media #{$mq-md} {
    position: static;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 0;
  }

  &__col {
    min-width: 178px;
  }

  &__item {
    display: block;
    line-height: 18px;
    @include fz(14);
    font-weight: bold;
    letter-spacing: .1em;
    @include hover-opacity;
    color: #fff;

    @media #{$mq-md} {
      display: inline-block;
      padding-left: 1.625em;
      @include fz(14);
    }

    &:not(:first-child) {
      margin-top: 1.5em;

      @media #{$mq-md} {
        margin-top: .5em;
      }
    }

    &.is-child {
      position: relative;
      @include fz(12);
      font-weight: normal;

      &::before {
        content: '- ';
      }
    }

    &.is-icon {

      .svg-icon {
        fill: #fff;
      }
    }
  }
}

.go-top {
  position: absolute;
  top: 0;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: #fff;
  transition: all $duration-transition ease;

  @media #{$mq-md} {
    right: 30px;
    margin-bottom: 0;
    font-size: 14px;
  }

  &:hover {
    background: $color-base;

    .svg-icon {
      fill: #fff;
    }
  }

  .svg-icon {
    width: 18px;
    height: 16px;
    fill: $color-key;
    transition: all $duration-transition ease;

    @media #{$mq-md} {
      width: 14px;
      height: 18px;
    }
  }
}

.footer-copyright {
  position: absolute;
  bottom: 0;
  right: 40px;
  @include fz(11);
  font-weight: bold;

  @media #{$mq-md} {
    position: static;
    margin-top: 28px;
  }
}
