.l-header {
  position: fixed;
  z-index: 1000;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background: #fff;

  @media #{$mq-sm} {
    border-bottom: solid 1px rgba(0, 0, 0, .08);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: $content-width-pc-xl;
    height: 60px;

    @media #{$mq-xl} {
      max-width: $content-width-pc-lg;
    }

    @media #{$mq-lg} {
      max-width: $content-width-pc;
      padding: 0 20px;
    }

    @media #{$mq-sm} {
      align-items: center;
      padding: 0;
      background: #fff;
    }
  }
}

.header {

}

.header-logo {
  // width: 100%;
  // max-width: 58%;
  transition: all $duration-transition-slow $easeOutQuart;

  @media #{$mq-sm} {
    max-width: 100%;
    // max-width: calc(100vw - 70px);
    padding-left: 20px;
  }

  &__link {
    display: block;

    .svg-icon {
      width: 296px;
      height: 21px;

      @media #{$mq-sm} {
        width: 260px;
        height: 18px;
      }

      @media #{$mq-xxs} {
        width: 220px;
        height: 16px;
      }
    }
  }
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 370px);
  @include fz(15);
  font-weight: bold;

  @media #{$mq-md} {
    width: calc(100% - 320px);
  }

  @media #{$mq-sm} {
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    align-items: stretch;
    width: 100vw;
    height: auto;
    border-bottom: solid 1px $color-border;
    background: #fff;
    @include fz(18);
    transition: all .2s;
  }

  &.is-open {

    @media #{$mq-sm} {
      visibility: visible;
      opacity: 1;
    }
  }

  &__section {

  }
}

.toggle-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  letter-spacing: .1em;

  @media #{$mq-sm} {
    display: flex;
  }

  &__btn {
    position: relative;
    display: block;
    margin: 10px 0;
    width: 27px;
    height: 2px;
    background: $color-base;
    transition: all $duration-transition ease;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 27px;
      height: 2px;
      background: $color-base;
      transition: all $duration-transition ease;
    }

    &::before {
      top: -10px;
    }

    &::after {
      bottom: -10px;
    }

    .toggle-menu.is-open & {
      background: transparent;

      &::before {
        transform: translate(0, 8px) rotate(45deg);
      }

      &::after {
        transform: translate(0, -12px) rotate(-45deg);
      }
    }
  }
}

.g-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all $duration-transition-slow $easeOutQuart;

  @media #{$mq-sm} {
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
  }

  &__item {
    display: block;
    text-align: center;
    @include hover-opacity;

    @media #{$mq-sm} {
      width: 100%;
      height: 60px;
      line-height: 60px;
      border-top: solid 1px $color-border;
    }

    &:not(:first-child) {
      margin-left: 58px;

      @media #{$mq-lg} {
        margin-left: 40px;
      }

      @media #{$mq-md} {
        margin-left: 15px;
      }

      @media #{$mq-sm} {
        margin-left: 0;
      }
    }
  }
}

.sub-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all $duration-transition-slow $easeOutQuart;

  @media #{$mq-sm} {
    background: #fff;
  }

  &__item {
    display: block;
    text-align: center;
    @include hover-opacity;

    @media #{$mq-sm} {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 60px;
      line-height: 60px;
      border-top: solid 1px $color-border;
    }

    &:not(:first-child) {
      margin-left: 40px;

      @media #{$mq-sm} {
        margin-left: 0;
        border-left: solid 1px $color-border;
      }
    }

    &.is-icon {
      line-height: 0;
    }
  }
}
