.l-main {
  padding-top: $header-h-pc;

  @media #{$mq-sm} {
    padding-top: $header-h-sp;
  }
}

.l-section {

  @media #{$mq-sm} {
    // height: auto;
    // min-height: 320px;
  }

  &__inner {
    margin: 0 auto;
    padding: 50px 20px;
    max-width: $content-width-pc-xl;

    @media #{$mq-xl} {
      max-width: $content-width-pc;
    }

    @media #{$mq-lg} {
      // padding-left: 20px;
      // padding-right: 20px;
    }

    @media #{$mq-sm} {
      padding: 20px 30px;
    }
  }

  &__title {
    text-align: center;
    color: $color-key;

    .en {
      display: block;
      margin-top: -.25em;
      @include fz(40);
      letter-spacing: .05em;

      @media #{$mq-sm} {
        @include fz(32);
      }
    }

    .ja {
      display: block;
      @include fz(16);
      font-weight: 400;
      letter-spacing: .05em;

      @media #{$mq-sm} {
        @include fz(14);
      }
    }
  }
}

.kv {
  display: flex;

  @media #{$mq-md} {
    flex-direction: column;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 70px 90px 75px 56px;
    width: 50%;
    max-height: 50vw;
    background: $color-key;

    @media #{$mq-xl} {
      padding: 40px 60px 45px 28px;
    }

    @media #{$mq-lg} {
      padding-top: 20px;
      padding-right: 60px;
      padding-bottom: 25px;
    }

    @media #{$mq-md} {
      padding: 20px;
      width: 100%;
      max-height: none;
    }

    img {
      display: block;
      // width: 100%;
      max-width: 100%;
      height: auto;
    }

    .image-wrapper {
      line-height: 0;

      &.is-title-label {
        display: inline-block;
        padding: 8px 20px;
        height: 28px;
        line-height: 1;
        border-radius: 16px;
        background: #fff;
        color: $color-key;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: .1em;
        white-space: nowrap;

        @media #{$mq-lg} {
          padding: 8px 16px;
          height: 28px;
          font-size: 12px;
        }

        @media #{$mq-md} {
          padding: 8px 16px;
          height: 28px;
          font-size: 12px;
        }
      }

      &.is-catch {

      }

      &.is-title_theme {
        margin-top: 20px;

        @media #{$mq-lg} {
          margin-top: 12px;
        }

        @media #{$mq-md} {
          margin-top: 12px;
        }

        img {

          @media #{$mq-lg} {
            width: 136px;
          }
        }
      }

      &.is-theme {
        margin-top: 15px;
        margin-left: -8px;
        margin-right: -24px;
        width: 100%;

        @media #{$mq-lg} {
          margin-top: 10px;
        }

        @media #{$mq-md} {
          margin-top: 10px;
          margin-right: 0;
        }

        img {
          width: 100%;
        }
      }

      &.is-date {
        margin-left: 45px;
        margin-right: -24px;

        @media #{$mq-md} {
          margin-top: 0;
          margin-left: 10px;
          margin-right: 0;
        }
      }

      &.is-title_place_main {
        margin-top: 27px;

        @media #{$mq-lg} {
          margin-top: 12px;
        }

        @media #{$mq-md} {
          margin-top: 12px;
        }

        img {

          @media #{$mq-lg} {
            width: 58px;
          }
        }
      }

      &.is-place_main {
        margin-top: 12px;
        width: 100%;

        @media #{$mq-lg} {
          margin-top: 6px;
        }

        @media #{$mq-md} {
          margin-top: 12px;
        }

        img {

          @media #{$mq-lg} {
            max-width: 62.3%;
          }

          @media #{$mq-md} {
            max-width: 100%;
          }
        }
      }

      &.is-title_place_area {
        margin-top: 10px;

        @media #{$mq-md} {
          margin-top: 10px;
        }

        img {

          @media #{$mq-lg} {
            width: 130px;
          }
        }
      }

      &.is-place_area {
        margin-top: 12px;
        width: 100%;

        @media #{$mq-lg} {
          margin-top: 6px;
        }

        @media #{$mq-md} {
          margin-top: 12px;
        }
      }

      &.is-title_place_events {
        margin-top: 10px;

        @media #{$mq-md} {
          margin-top: 10px;
        }

        img {

          @media #{$mq-lg} {
            width: 130px;
          }
        }
      }

      &.is-place_events {
        position: relative;
        margin-top: 12px;
        width: 100%;

        @media #{$mq-lg} {
          margin-top: 6px;
        }

        @media #{$mq-md} {
          margin-top: 12px;
        }

        img {

          @media #{$mq-lg} {
            max-width: 17.9%;
          }

          @media #{$mq-md} {
            max-width: 100%;
          }
        }

        .kv-entry {
          position: absolute;
          // top: -.175em;
          top: 0;
          left: 120px;
          display: block;
          // padding: .25em .75em;
          line-height: 1.5;
          @include fz(14);
          // background: #fff;
          color: #fff;
          border-radius: 1em;

          // @media #{$mq-lg} {
          //   left: 95px;
          //   padding: 0;
          // }

          @media #{$mq-md} {
            left: 120px;
            padding: .25em .75em;
          }
        }
      }
    }
  }
}

.kv-slider {
  width: 50%;

  @media #{$mq-md} {
    width: 100%;
  }

  &__item {

  }
}

.kv-slider-item {

  &__inner {
    // display: flex;
    // align-items: center;
    position: relative;
    overflow: hidden;

    @media #{$mq-md} {
      width: 100%;
      min-height: 360px;
    }

    @media #{$mq-xs} {
      min-height: 240px;
    }

    img {
      // position: absolute;
      // top: 50%;
      // left: 50%;
      display: block;
      width: auto;
      width: 100%;
      // min-height: 100%;
      // transform: translate(-50%, -50%);
    }
  }

  &__image {
    display: block;
    width: 50%;

    @media #{$mq-md} {
      width: 100%;
    }
  }
}

.intro {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;

  @media #{$mq-lg} {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media #{$mq-sm} {
    flex-direction: column;
    padding: 30px;
  }

  &__logo {
    // width: 25%;

    @media #{$mq-sm} {
      width: 100%;
      text-align: center;
    }

    .svg-icon {
      // width: 100%;
      width: 360px;
      height: 150px;
      fill: $color-key;

      @media #{$mq-md} {
        width: 240px;
        height: 110px;
      }

      @media #{$mq-sm} {
        max-width: 100%;
      }
    }
  }

  &__body {
    margin-top: -.64em;
    padding-left: 28px;
    max-width: 64%;
    line-height: 2.28;
    @include fz(14);
    letter-spacing: .06em;

    @media #{$mq-sm} {
      margin-top: 1.5em;
      padding-left: 0;
      max-width: 100%;
      @include fz(13);
    }

    .headline {
      font-size: 1.375em;
      font-weight: 600;
      letter-spacing: .12em;
    }
  }
}

.top-news {

  &__list {

  }

  &__more {
    display: block;
    width: 100%;
    height: 58px;
    line-height: 58px;
    text-align: center;
    background: $color-bg-key;
    @include fz(18);
    transition: all $duration-transition ease;

    &:hover {
      background-color: $color-key;
      color: #fff;

      > span {

        &::before {

        }
      }
    }
  }
}

.top-news-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    display: block;
    width: 33.333%;
    // width: calc(100vw / 3);

    @media #{$mq-sm} {
      width: 100%;
    }
  }
}

.top-news-item {
  overflow: hidden;
  position: relative;

  &:hover {

    &::before {
      opacity: 1;
    }

    .image {
      transform: scale(1.08);
    }

    .info {
      opacity: 1;
      transform: translate(0, 0) scale(1);
    }
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background: transparentize($color-key, .8);
    background: rgba(0, 0, 0, .2);
    transition: all .4s ease;
    transform: translate3d(0, 0, 0);
    background-blend-mode: multiply;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: transform $duration-transition ease;
    will-change: transform;
  }

  .info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    transition: all $duration-transition ease;
    transform: translate(0, 10px) scale(1.05);

    @media #{$mq-sm} {
      position: relative;
      opacity: 1;
      padding: 12px 40px;
      height: auto;
      color: $color-base;
      transform: translate(0, 0) scale(1);
      // display: inline-block;
      // padding-right: 32px;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 15px;
        display: block;
        width: 20px;
        height: 20px;
        background: url(../images/icon_link.svg) 0 0 no-repeat;
        background-size: 100% auto;
        transform: translateY(-50%);
      }

    }

    .date {
      padding: 1px 15px;
      @include fz(13);
      border: solid 1px #fff;
      border-radius: .9em;

      @media #{$mq-sm} {
        // @include fz(12);
      }
    }

    .title {
      margin-top: .5em;
      @include fz(16);
      font-weight: 600;

      @media #{$mq-sm} {
        margin-top: .15em;
        @include fz(15);
      }
    }
  }
}

.event-slider {

  &__item {

  }
}

.event-slider-item {

  &__inner {
    display: flex;
    align-items: center;

    @media #{$mq-md} {
      flex-direction: column;
    }
  }

  &__image {
    display: block;
    width: 50%;

    @media #{$mq-md} {
      width: 100%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 60px;
    width: 50%;
    background: #fff;

    @media #{$mq-md} {
      padding: 20px;
      width: 100%;
    }

    .note {
      display: inline-block;
      padding: .25em 1.25em;
      background: $color-key;
      border-radius: 1em;
      color: #fff;
      @include fz(15);
      font-weight: 600;
      letter-spacing: .12em;

      @media #{$mq-xl} {
        @include fz(12);
      }
    }

    .title {
      margin-top: 8px;
      @include fz(45);
      font-weight: bold;
      letter-spacing: .02em;

      @media #{$mq-xl} {
        @include fz(36);
      }

      @media #{$mq-md} {
        @include fz(24);
      }
    }

    .sub-title {
      margin-top: 3px;
      @include fz(18);
      letter-spacing: .12em;

      @media #{$mq-xl} {
        @include fz(14);
      }

      @media #{$mq-md} {
        @include fz(12);
      }
    }

    .desc {
      position: relative;
      margin-top: 45px;
      padding-top: 45px;
      @include fz(18);

      @media #{$mq-xl} {
        @include fz(14);
      }

      @media #{$mq-md} {
        margin-top: 30px;
        padding-top: 30px;
        @include fz(13);
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 50px;
        height: 3px;
        background: $color-base;

        @media #{$mq-xl} {
          width: 40px;
        }
      }
    }
  }
}

.event-slider-links {
  display: flex;
  margin-top: 50px;

  @media #{$mq-sm} {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    width: 100%;
  }

  &__item {
    display: block;

    @media #{$mq-sm} {
      display: inline-block;
    }

    &:not(:first-child) {
      margin-left: 30px;

      @media #{$mq-sm} {
        margin-top: .5em;
        margin-left: 0;
      }
    }
  }
}

.top-events {
  background: $color-bg-alt;

  &__inner {
    display: flex;
    justify-content: center;

    @media #{$mq-lg} {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media #{$mq-md} {
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__calendar {
    margin-left: -30px;
    margin-right: 14px;
    padding: 30px;
    width: 536px;
    background: #fff;


    @media #{$mq-md} {
      margin-left: 0;
      margin-right: 0;
      padding: 20px;
      width: auto;
    }
  }

  &__list {
    margin-left: 14px;
    width: 506px;

    @media #{$mq-md} {
      margin-top: 20px;
      margin-left: 0;
      width: auto;
    }
  }
}

.top-calendar {

  &__title {
    padding-bottom: 28px;
    border-bottom: solid 3px $color-base;

    @media #{$mq-md} {
      padding-bottom: 20px;
    }

    .en {

    }

    .ja {
      margin-left: 1em;
      @include fz(14);
      letter-spacing: .12em;

      @media #{$mq-md} {
        display: block;
        margin-left: 0;
      }
    }

    .svg-icon {
      width: 263px;
      height: 27px;

      @media #{$mq-xxs} {
        width: 200px;
        height: 21px;
      }
    }
  }

  &__list {

  }

  &__more {
    margin-top: 28px;
    text-align: right;

    @media #{$mq-md} {
      margin-top: 20px;
    }
  }
}

.top-calendar-list {

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: solid 1px $color-base;
    background: #fff;
    transition: all $duration-transition ease;

    @media #{$mq-md} {
      position: relative;
      flex-direction: column;
      align-items: stretch;
      padding: 8px 0;
    }

    &:hover {
      background: $color-bg-key;
    }

    .date {
      display: block;
      font-weight: bold;
      @include fz(13);

      @media #{$mq-md} {
        @include fz(12);
      }

      .date-num {
        display: block;

        @media #{$mq-md} {
          display: inline;
        }
      }

      .day {
        display: block;
        @include fz(12);

        @media #{$mq-md} {
          display: inline;
          margin-left: .5em;
        }
      }
    }

    .title {
      margin-left: 20px;
      width: 330px;
      @include fz(12);

      @media #{$mq-md} {
        margin-top: .25em;
        margin-left: 0;
        margin-right: 72px;
        width: auto;
      }
    }
  }
}

.top-events-list {

  &__item {
    padding: 24px;
    border-top: solid 4px $color-key;
    background: #fff;

    @media #{$mq-sm} {
      padding: 12px 20px 20px;
    }

    &:not(:first-child) {
      margin-top: 20px;
    }

    .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &:not(:first-child) {
        margin-top: .5em;
      }

      @media #{$mq-sm} {
        flex-direction: column;
        align-items: stretch;
      }

      .en {
        display: block;
        @include fz(20);
      }

      .ja {
        display: block;
        @include fz(12);

        &:not(:first-child) {
          margin-left: 20px;

          @media #{$mq-sm} {
            margin-left: 0;
          }
        }
      }
    }

    .desc {
      margin-top: 10px;
      line-height: 2;
      @include fz(12);
    }
  }
}

.top-events-links {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;

  &__item {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}

.top-banners {

  &__inner {
    padding: 30px 0 40px;

    @media #{$mq-sm} {
      padding: 20px;
    }
  }
}

.top-banners-large {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1108px;

  @media #{$mq-sm} {
    flex-direction: column;
    align-items: center;
  }

  &__item {
    display: block;
    max-width: 50%;
    @include hover-opacity;
    padding-left: 14px;
    padding-right: 14px;

    @media #{$mq-sm} {
      width: 100%;
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    &:not(:first-child) {

      @media #{$mq-sm} {
        margin-top: 20px;
      }
    }

    &:nth-child(n + 3) {
      margin-top: 20px;
    }

    &.is-disable {
      width: 506px;
      height: 150px;
      line-height: 150px;
      vertical-align: middle;
      text-align: center;
      background: #eee;
      color: #757575;
      pointer-events: none;

      @media #{$mq-sm} {
        width: 100%;
      }
    }

    img {
      display: block;
      width: 100%;
    }
  }
}

.top-banners-small {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media #{$mq-sm} {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  a {
    @include hover-opacity;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    // @include hover-opacity;
    margin: 20px 14px 0;

    @media #{$mq-sm} {
      display: block;
      margin-top: 0;
      max-width: 180px;
    }

    &:not(:first-child) {

      @media #{$mq-sm} {
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
      }
    }

    &.is-disable {
      width: 239px;
      height: 86px;
      line-height: 86px;
      vertical-align: middle;
      text-align: center;
      background: #eee;
      color: #757575;
      pointer-events: none;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}

.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  @media #{$mq-sm} {
    flex-direction: column;
    margin-top: 20px;
  }

  &__item {
    display: block;
    max-width: 100%;
    @include hover-opacity;

    &:not(:first-child) {
      margin-left: 28px;

      @media #{$mq-sm} {
        margin-top: 20px;
        margin-left: 0;
      }
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

//
// Page
//
.page-header {

  @media #{$mq-sm} {
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    min-height: 200px;

    @media #{$mq-sm} {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 30px;
      min-height: 120px;
    }
  }

  &__back {
    position: relative;
    display: inline-block;
    padding-left: 18px;
    @include fz(16);
    font-weight: bold;
    color: $color-key;

    &::before {
      content: url(../images/arrow.svg);
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 11px;
      fill: $color-key;
      transform: translate(0, -50%);
      transition: all $duration-transition ease;
    }

    &:hover {

      &::before {
        transform: translate(-2px, -50%);
      }
    }

    &.is-float {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      @media #{$mq-sm} {
        position: static;
      }
    }
  }

  &__title {
    @include fz(32);

    @media #{$mq-sm} {
      margin-top: -.375em;
      @include fz(24);
    }
  }
}

.event-header {

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: $content-width-pc-sm;

    @media #{$mq-sm} {
      width: 100%;
    }
  }

  .date {
    margin-top: 10px;
    @include fz(16);
    font-weight: bold;

    @media #{$mq-sm} {
      @include fz(14);
    }
  }

  .title {
    margin-top: 8px;
    @include fz(20);
  }

  .place {
    margin-top: 15px;
    margin-left: -4px;
    padding: .5em 1em;
    border-radius: 1.25em;
    @include fz(12);
    background: $color-bg-key;
    color: $color-key;
  }
}

.news-header {

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: $content-width-pc-sm;

    @media #{$mq-sm} {
      width: 100%;
    }
  }

  .date {
    margin-top: 10px;
    @include fz(16);
    font-weight: bold;

    @media #{$mq-sm} {
      @include fz(14);
    }
  }

  .title {
    margin-top: 8px;
    @include fz(20);
  }

  .place {
    margin-top: 15px;
    margin-left: -4px;
    padding: .5em 1em;
    border-radius: 1.25em;
    @include fz(12);
    background: $color-bg-key;
    color: $color-key;
  }
}

.page-contents {
  background: $color-bg-alt;

  &__inner {

    @media #{$mq-sm} {
      padding: 20px;
    }
  }
}

.events-list {

  &__inner {
    padding-top: 40px;
  }

  &__item {

    &:not(:first-child) {
      margin-top: 40px;

      @media #{$mq-sm} {
        margin-top: 20px;
      }
    }
  }
}

.events-list-item {

  &__inner {
    display: flex;
    align-items: center;
    background: #fff;

    @media #{$mq-sm} {
      flex-direction: column;
    }
  }

  &__image {
    display: block;
    width: 50%;
    @include hover-opacity;

    @media #{$mq-sm} {
      width: 100%;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 60px;
    width: 50%;

    @media #{$mq-sm} {
      padding: 20px;
      width: 100%;
    }

    .title {
      width: 100%;
      @include fz(20);
      font-weight: bold;
      letter-spacing: .02em;

      @media #{$mq-xl} {
        @include fz(16);
      }

      @media #{$mq-sm} {
        @include fz(14);
      }
    }

    .sub-title {
      margin-top: 8px;
      width: 100%;
      @include fz(32);
      letter-spacing: .12em;

      @media #{$mq-xl} {
        @include fz(20);
      }

      @media #{$mq-sm} {
        @include fz(16);
      }
    }

    .desc {
      position: relative;
      margin-top: 54px;
      padding-top: 54px;
      width: 100%;
      @include fz(18);

      @media #{$mq-xl} {
        @include fz(14);
      }

      @media #{$mq-sm} {
        margin-top: 20px;
        padding-top: 20px;
        @include fz(13);
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 50px;
        height: 3px;
        background: $color-base;

        @media #{$mq-xl} {
          width: 40px;
        }
      }
    }
  }
}

.events-list-links {
  display: flex;
  margin-top: 50px;

  @media #{$mq-sm} {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    width: 100%;
  }

  &__item {
    display: block;

    @media #{$mq-sm} {
      display: inline-block;
    }

    &:not(:first-child) {
      margin-left: 30px;

      @media #{$mq-sm} {
        margin-top: .5em;
        margin-left: 0;
      }
    }
  }
}

.event-article {

  &__inner {
    padding-top: 30px;
  }
}

.event-detail {

  &__body {
    margin: 0 auto;
    width: 100%;
    max-width: $content-width-pc-sm;

    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  &__info {
    margin-top: 30px;

    @media #{$mq-sm} {
      margin-top: 20px;
    }
  }

  &__entry,
  &__link {
    margin-top: 40px;

    @media #{$mq-sm} {
      margin-top: 20px;
    }
  }

  &__table {
    margin-top: 20px;
  }
}

.event-detail-body {

  &.is-calendar {

    .body,
    p {
      font-weight: 600;
    }

    .image,
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;

      &:not(:first-child) {
        margin-top: 20px;
      }
    }

    .headline,
    h2 {
      @include fz(16);

      &:not(:first-child) {
        margin-top: 3em;
      }
    }

    .body,
    p {
      line-height: 2;
      @include fz(14);

      &:not(:first-child) {
        margin-top: 1em;
      }
    }
  }

  .image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  .headline {
    @include fz(16);

    &:not(:first-child) {
      margin-top: 3em;
    }
  }

  .body {
    line-height: 2;
    @include fz(14);

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  .list {
    margin-top: 1em;

    &.is-ol {

      > li {
        list-style: decimal;
      }
    }

    > li {
      margin-top: .5em;
      margin-left: 1em;
      list-style: disc;
      @include fz(14);
    }
  }

  .designer-list {
    margin-top: 1em;

    &__item {
      display: flex;
      @include fz(14);

      @media #{$mq-sm} {
        flex-direction: column;
      }

      &:not(:first-child) {
        margin-top: 2em;
      }

      .photo {
        display: block;

        img {
          display: block;
          margin-right: 20px;
          width: 200px;

          @media #{$mq-sm} {
            width: 100%;
          }

          &:not(:first-child) {
            margin-top: 1em;
          }
        }
      }

      .work {
        display: block;

        img {
          display: block;
          margin-right: 20px;
          width: 200px;

          @media #{$mq-sm} {
            margin-top: 1em;
            width: 100%;
          }

          &:not(:first-child) {
            margin-top: 1em;
          }
        }
      }

      .text {
        display: block;

        @media #{$mq-sm} {
          margin-top: 1em;
        }
      }

      .name {
        display: block;
        font-weight: 600;
      }

      .profile {
        display: block;
        margin-top: .5em;
        line-height: 1.75;
        @include fz(13);

        @media #{$mq-sm} {
          margin-top: .5em;
        }

        .label {
          display: block;
          font-weight: 600;
        }
      }
    }
  }
}

.event-detail-table {

  &__title {
    padding-bottom: 1em;
    @include fz(16);
  }

  .date {
    text-align: left;
    color: $color-key;
    font-weight: bold;
  }

  .time {
    text-align: left;
    white-space: nowrap;

    @media #{$mq-md} {
      background: $color-bg-alt;
    }
  }

  thead {

    @media #{$mq-md} {
      display: none;
    }

    th, td {
      padding-top: .875em;
      padding-bottom: .875em;
    }
  }

  tbody {

    &:nth-of-type(1) {

      tr {

        &:first-child {

          th {

            @media #{$mq-md} {
              border-top: none;
            }
          }
        }
      }
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;

    @media #{$mq-md} {
      border: solid 1px $color-border-d;
    }

    &.is-fixed {
      table-layout: fixed;
    }

    &.is-striped {

      tr {

        &:nth-child(even) {

          th {
            background: $color-bg-alt;
          }

          td {
            background: $color-bg-alt;

            @media #{$mq-md} {
              background: #fff;
            }
          }
        }
      }
    }
  }

  tr {
    border: solid 1px $color-border-d;

    @media #{$mq-md} {
      display: block;
      border: none;
    }
  }

  th, td {
    padding: .375em .875em;
    border: solid 1px $color-border-d;
    @include fz(14);
    background: #fff;

    @media #{$mq-md} {
      display: block;
      padding-top: .5em;
      padding-bottom: .5em;
      border-width: 1px 0 0;
    }

    &:empty {
      background: $color-bg-key;

      @media #{$mq-md} {
        display: none;
      }
    }

    &::before {

      @media #{$mq-md} {
        content: attr(aria-label);
        display: block;
        font-weight: 600;
      }
    }

    &.is-note {
      font-size: .8em;

      @media #{$mq-sm} {
        padding-top: 0;
        border-top: none;
      }
    }

    .photo {
      display: block;
      margin-top: 1em;
      padding-bottom: 1em;

      @media #{$mq-sm} {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
      }
    }
  }

  th {

    @media #{$mq-sm} {
      background: $color-bg-alt;
    }

    &::before {
      color: $color-key;
    }
  }
}

.calendar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -50px auto 0;
  max-width: 1040px;

  @media #{$mq-sm} {
    margin-top: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0;
    width: calc(50% - 14px);
    // max-width: 506px;
    min-height: 409px;

    @media #{$mq-sm} {
      margin-top: 0;
      width: 100%;
      min-height: 0;
    }

    &:nth-child(even) {
      margin-left: 28px;

      @media #{$mq-sm} {
        margin-left: 0;
      }
    }

    &:not(:first-child) {

      @media #{$mq-sm} {
        margin-top: 20px;
      }
    }
  }
}

.calendar-list-item {
  background: #fff;
  @include hover-opacity;

  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }

  &__text {
    display: block;
    margin-top: auto;
    padding: 20px;
    font-weight: bold;

    @media #{$mq-sm} {
      padding: 12px 20px;
    }

    .info {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      .date {
        display: block;
        @include fz(16);

        @media #{$mq-sm} {
          @include fz(12);
        }
      }
    }

    .title {
      display: block;
      margin-top: 10px;
      @include fz(14);

      @media #{$mq-sm} {
        margin-top: .25em;
        @include fz(12);
      }
    }
  }
}

.event-info {
  padding: 20px;
  background: #fff;

  &__title {
    line-height: 1;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 25px;
    @include fz(24);

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 40px;
      height: 3px;
      background: $color-base;
    }
  }

  &__body {
  }
}

.event-info-body {

  &__item {
    @include fz(12);

    &:not(:first-child) {
      margin-top: 1.5em;
    }

    .headline {
      @include fz(14);
    }

    .body {
      margin-top: .5em;
    }
  }
}

.event-address {

  .name {
    @include fz(12);
    font-weight: bold;

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  .address {
    font-weight: normal;
  }
}

//
// About
//

.about-slider-item {

  &__image {
    display: block;
    width: 100%;

    @media #{$mq-sm} {
    }
  }
}


.about-section {
  padding: 10px 0;

  @media #{$mq-sm} {
    padding: 30px 0;
  }

  &:nth-child(even) {
    background: $color-bg-alt;
  }

  &:nth-child(odd) {
    background: $color-bg;
  }

  .headline {
    @include fz(16);
    color: $color-key;

    &:not(:first-child) {
      margin-top: 1.5em;
    }
  }

  .sub-headline {
    margin-top: 1.5em;
    @include fz(14);
  }

  .sub-sub-headline {
    margin-top: .5em;
    @include fz(13);
  }

  .body {
    margin-top: 1em;
    line-height: 2;
    @include fz(14);
    //
    // + .body {
    //   margin-top: 2em;
    // }

    a {
      text-decoration: underline;
      color: $color-key;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .image {
    margin-top: 20px;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.about-profile {
  display: flex;
  justify-content: space-between;

  @media #{$mq-sm} {
    flex-direction: column;
    padding: 0 30px;
  }

  &__body {
    max-width: 65.8%;

    @media #{$mq-sm} {
      max-width: 100%;
    }

    .headline {
      @include fz(20);

      @media #{$mq-sm} {
        @include fz(16);
      }
    }
  }

  &__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 239px;
    text-align: center;

    @media #{$mq-sm} {
      margin-top: 20px;
      width: 100%;
    }

    img {
      display: block;
    }
  }
}

//
// News
//

.news-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -50px 0 0;

  @media #{$mq-sm} {
    margin-top: 0;
  }

  &__item {
    display: block;
    margin: 30px 0 0;
    width: 506px;

    @media #{$mq-sm} {
      margin-top: 0;
    }

    &:nth-child(even) {
      margin-left: 28px;

      @media #{$mq-sm} {
        margin-left: 0;
      }
    }

    &:not(:first-child) {

      @media #{$mq-sm} {
        margin-top: 20px;
      }
    }

    @media #{$mq-sm} {
      width: 100%;
    }
  }
}

.news-list-item {
  background: #fff;
  @include hover-opacity;

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__text {
    display: block;
    padding: 20px;
    font-weight: bold;

    @media #{$mq-sm} {
      padding: 12px 20px;
    }

    .date {
      display: block;
      @include fz(16);

      @media #{$mq-sm} {
        @include fz(14);
      }
    }

    .title {
      display: block;
      margin-top: 10px;
      @include fz(14);

      @media #{$mq-sm} {
        margin-top: .25em;
        @include fz(12);
      }
    }
  }
}

.news-main {
  margin: 0 auto;
  width: 100%;
  max-width: $content-width-pc-sm;

  &__body {

  }

  &__info {
    margin-top: 30px;

    @media #{$mq-sm} {
      margin-top: 20px;
    }
  }

  &__entry {
    margin-top: 40px;

    @media #{$mq-sm} {
      margin-top: 20px;
    }
  }
}

.news-main-body {

  &.is-calendar {

    .body,
    p {
      font-weight: 600;
    }
  }

  .image,
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  .headline,
  h2 {
    margin-top: 1.5em;
    @include fz(16);
  }

  .body,
  p {
    line-height: 2;
    @include fz(14);

    &:not(:first-child) {
      margin-top: 1em;
    }

    a {
      color: $color-key;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//
// Contact
//
.contact-main {

  &__inner {
    max-width: $content-width-pc-md;

    iframe {
      display: block;
      margin: 0 auto;
    }
  }
}

.contact-files {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  padding: 16px 20px;
  // background: #fff;
  border: solid 1px $color-key;

  @media #{$mq-sm} {
    margin-bottom: 20px;
    padding: 10px 20px;
  }

  &__item {
    @include fz(14);
    color: $color-key;

    @media #{$mq-sm} {
      @include fz(12);
    }

    &:hover {
      text-decoration: underline;
    }

    &:not(:first-child) {
      margin-left: 40px;
    }
  }
}

.event-files {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  padding: 16px 20px;
  // background: #fff;
  border: solid 1px $color-key;

  @media #{$mq-sm} {
    margin-bottom: 20px;
    padding: 10px 20px;
  }

  &__item {
    @include fz(14);
    color: $color-key;

    @media #{$mq-sm} {
      @include fz(12);
    }

    &:hover {
      text-decoration: underline;
    }

    &:not(:first-child) {
      margin-left: 40px;
    }
  }
}

.file-type {
  position: relative;
  top: -.1em;
  display: inline-block;
  margin-left: .5em;
  padding: 0 .5em;
  font-size: .75em;
  background: $color-key;
  color: #fff;
}

.contact-form {
  padding-bottom: 10px;

  &__item {

    &:not(:first-child) {
      margin-top: 40px;

      @media #{$mq-sm} {
        margin-top: 20px;
      }
    }
  }

  &__headline {
    margin-top: 60px;
    @include fz(16);
  }

  &__sub-headline {
    margin-top: 40px;
    @include fz(14);
  }

  &__note {
    margin-top: 20px;
    line-height: 1.5;
    @include fz(14);
  }

  &__action {
    margin-top: 40px;

    @media #{$mq-sm} {
      margin-top: 20px;
    }
  }
}

.form-item {
  display: flex;

  @media #{$mq-sm} {
    flex-direction: column;
  }

  &__title {
    padding: .5em;
    width: 30%;
    @include fz(14);

    @media #{$mq-sm} {
      padding-top: 0;
      padding-left: 0;
      width: 100%;
      // @include fz(14);
    }

    .required {
      margin-left: .75em;
      font-size: .675em;
      color: red;
    }
  }

  &__input {
    width: 70%;
    @include fz(16);

    @media #{$mq-sm} {
      width: 100%;
      // @include fz(14);
    }

    &.is-agree {
      padding: 15px 20px;
      text-align: center;
      width: 100%;
      border: solid 1px $color-key;

      @media #{$mq-sm} {
        padding: 10px 15px;
        text-align: left;
        @include fz(14);
      }

      input[type="checkbox"] {
        display: inline-block;
      }
    }

    input[type="text"],
    input[type="tel"],
    input[type="date"],
    textarea {
      padding: .5em .75em;
      max-width: 100%;
      border: none;
      border-radius: 0;
      box-shadow: none;
      appearance: none;
      background: #fff;
    }

    .input-text,
    textarea {
      width: 100%;
    }

    .input-small {
      width: 6em;
    }

    input[type="radio"],
    input[type="checkbox"] {
      display: none;

      + label,
      + .wpcf7-list-item-label {
        box-sizing: border-box;
        transition: background-color .1s linear;
        position: relative;
        display: inline-block;
        margin: 0 20px 8px 0;
        padding: 6px 0 6px 35px;
        // border-radius: 8px;
        // background-color: #f6f7f8;
        vertical-align: middle;
        @include fz(14);
        cursor: pointer;

        &:hover {
          // background: #e2edd7;

          &::after {
            border-color: $color-key;
          }
        }

        &::before {
          z-index: 2;
        }

        &::after {
          transition: border-color .1s linear;
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 0;
          display: block;
          margin-top: -10px;
          width: 16px;
          height: 16px;
          border: 2px solid #fff;
          background: #fff;
          content: '';
        }
      }

      &:checked {

        + label,
        + .wpcf7-list-item-label {

          &::before {
            opacity: 1;
          }

          &::after {
            border-color: $color-key;
          }
        }
      }
    }

    input[type="radio"] {

      + label,
      + .wpcf7-list-item-label {

        &::before {
          transition: opacity .1s linear;
          position: absolute;
          top: 50%;
          left: 5px;
          display: block;
          margin-top: -5px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $color-key;
          content: '';
          opacity: 0;
        }

        &::after {
          border-radius: 50%;
        }
      }
    }

    input[type="checkbox"] {

      + label,
      + .wpcf7-list-item-label {

        &::before {
          transition: opacity .1s linear;
          position: absolute;
          top: 50%;
          left: 6px;
          display: block;
          margin-top: -7px;
          width: 5px;
          height: 9px;
          border-right: 3px solid $color-key;
          border-bottom: 3px solid $color-key;
          content: '';
          opacity: 0;
          transform: rotate(45deg);
        }

        &::after {
          border-radius: 3px;
        }
      }
    }

    textarea {
      min-height: 8.5em;
    }

    .radio, .checkbox {
      box-sizing: border-box;
      transition: background-color .1s linear;
      position: relative;
      display: inline-block;
      margin: 0 20px 8px 0;
      padding: 6px 0 6px 35px;
      // border-radius: 8px;
      // background-color: #f6f7f8;
      vertical-align: middle;
      cursor: pointer;

      &:hover {
        // background: #e2edd7;

        &::after {
          border-color: $color-key;
        }
      }

      &::before {
        z-index: 2;
      }

      &::after {
        transition: border-color .1s linear;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 0;
        display: block;
        margin-top: -10px;
        width: 16px;
        height: 16px;
        border: 2px solid #fff;
        background: #fff;
        content: '';
      }
    }

    .radio {

      &::before {
        transition: opacity .1s linear;
        position: absolute;
        top: 50%;
        left: 5px;
        display: block;
        margin-top: -5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color-key;
        content: '';
        opacity: 0;
      }

      &::after {
        border-radius: 50%;
      }
    }

    .checkbox {

      &::before {
        transition: opacity .1s linear;
        position: absolute;
        top: 50%;
        left: 6px;
        display: block;
        margin-top: -7px;
        width: 5px;
        height: 9px;
        border-right: 3px solid $color-key;
        border-bottom: 3px solid $color-key;
        content: '';
        opacity: 0;
        transform: rotate(45deg);
      }

      &::after {
        border-radius: 3px;
      }
    }
  }
}

.contact-mail {
  padding-bottom: 20px;

  p {

    a {
      color: $color-key;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.sponsor-header {

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: $content-width-pc-sm;

    @media #{$mq-sm} {
      width: 100%;
    }
  }

  .title {
    margin-top: 8px;
    @include fz(20);
  }
}

.sponsor-article {

  &__inner {
    padding-top: 30px;
  }
}

.sponsor-detail {

  &__body {
    margin: 0 auto;
    width: 100%;
    max-width: $content-width-pc-sm;

    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  &__info {
    margin-top: 30px;

    @media #{$mq-sm} {
      margin-top: 20px;
    }
  }
}

.sponsor-detail-body {

  .image,
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  .headline,
  h2 {
    @include fz(16);

    &:not(:first-child) {
      margin-top: 3em;
    }
  }

  .body,
  p {
    line-height: 2;
    @include fz(14);

    &:not(:first-child) {
      margin-top: 1em;
    }
  }
}

.sponsor-info {
  padding: 20px;
  background: #fff;

  &__title {
    line-height: 1;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 25px;
    @include fz(24);

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 40px;
      height: 3px;
      background: $color-base;
    }
  }

  &__body {
  }
}

.sponsor-info-body {

  &__item {
    @include fz(12);

    &:not(:first-child) {
      margin-top: 1.5em;
    }

    .headline {
      @include fz(14);
    }

    .body {
      margin-top: .5em;
    }
  }
}

.sponsor-address {

  .name {
    @include fz(12);
    font-weight: bold;

    &:not(:first-child) {
      margin-top: 2em;
    }
  }

  .address {
    font-weight: normal;
  }
}

.sponsor-detail-link {
  margin-top: 30px;
  margin-bottom: 10px;

  @media #{$mq-sm} {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

//
// Map
//
.embeded-map,
.acf-map {
  @include map-wrap();
  margin-top: 15px;
  height: 500px;

  @media #{$mq-sm} {
    margin-top: 20px;
    height: 300px;
  }
}

.acf-map img {
   max-width: inherit !important;
}
