<% var
pageTitle = "";
pageId = "about";
pageUrl = "about.html";
pageDescription = "";
pageKeywords = "";
isEnglish = true;
%><% include ../_header %>
    <section class="l-section">
      <div class="slider js-bg-slider about-slider">
        <div class="slider__item about-slider__item about-slider-item">
          <img src="/images/slide_about_01.jpg" class="about-slider-item__image">
        </div>
        <div class="slider__item about-slider__item about-slider-item">
          <img src="/images/slide_about_02.jpg" class="about-slider-item__image">
        </div>
        <div class="slider__item about-slider__item about-slider-item">
          <img src="/images/slide_about_03.jpg" class="about-slider-item__image">
        </div>
      </div>
    </section>
    <section class="l-section about-section">
      <div class="l-section__inner about-profile">
        <div class="about-profile__body">
          <h2 class="headline">World Interiors Week 2017 Message</h2>
          <p class="body">
            Living surrounded by beautiful interiors is always our dream. Today, a trend of reconsidering lifestyles can be seen in many places in Japan.<br>
            Renewal of old Japanese-style houses, regional industry revitalization, and Japanese design creation from a global point of view are being initiated.<br>
            In addition to convenience in life, an expression of individuality of each region, family, and person in everyday life is becoming more common worldwide – particularly in Europe, the U.S., and Asia. Specifically, the interior boom and interior-related industry development in Asian countries are notable.<br>
            World Interiors Week goes with the times, expanding its network all over the world. It originated in Denmark in 1963, when a North- European centered, nonprofit interior association was founded. Today, countries from all over the world, including Asia, are participating as IFI members. Japan joined IFI in 1977, as the first Asian designer organization. In 2016, in cooperation with the Japan Interior Architects/Designers’ Association and Japan Institute of Design Promotion, an effort to fully entrench the World Interiors Week in Japan was begun. This may lead to an increased importance of housing, with an equal or even greater importance as food and clothing.<br>
            I believe that everyday life is the foundation to foster lifestyles, an industrial economy, and above all, humanity.
          </p>
          <p class="body">
            WIW Chairman of the Executive Committee/former president of JID, Toshiyuki Kita
          </p>
        </div>
        <div class="about-profile__image">
          <img src="/images/kita_en.jpg" alt="T.Kita">
        </div>
      </div>
    </section>
    <section class="l-section about-section">
      <div class="l-section__inner">
        <h2 class="headline">&quot;An Era of Interior Design&quot;</h2>
        <p class="body">
          Interior design was less developed in Japan compared with other countries, perhaps partially due to the housing conditions.<br>
          However, it has been recently reexamined as a result of the trend of reconsidering lifestyles.<br>
          Taking advantage of the newly launched &quot;World Interiors Week in JAPAN&quot; in 2016, it was intended to create opportunities for actively discussing with citizens the roles of interior designs in society, culture, and our future living environment.<br>
          The Japan Interior Architects/Designers’ Association (JID, former president: Toshiyuki Kita) and Japan Institute of Design Promotion (JDP, president: Motomi Kawakami) jointly hosted &quot;World Interiors Week in JAPAN&quot; from late May, 2016, aiming to promote interior designs.<br>
          In response to IFI’s &quot;World Interiors Day&quot;, promoted by the International Federation of Interior Architects/Designers (IFI), JID and JDP as IFI’s member organizations support these activities, and develop extensive activities in Japan by setting an entire week including the last Saturday in May each year as a &quot;World Interiors Week&quot;.<br>
          By using the Tokyo Midtown Design Hub as the main site, the event is held throughout Japan with the global theme of IFI.<br>
          Symposiums, seminars, exhibitions, and exchange meetings will be held in cooperation with local governments, manufacturers, designers, and educational institutions, with an aim of activation of interior designs and the housing industry.
        </p>
        <h2 class="headline">About JID</h2>
        <p class="body">
          The Japan Interior Architects/Designers’ Association (JID), established in 1958, is a nationwide organization of people involved in interior designs in Japan. JID is actively dedicated to exchanging information, studying, enlightening, and improving the status of interior design stakeholders. JID joined IFI in 1977.<br>
          <a href="http://www.jid.or.jp">www.jid.or.jp</a> 3-7-1 The 8th floor of Shinjuku park tower. Nishishinjuku, Shinjuku-ku, Tokyo
        </p>
        <h2 class="headline">About JDP</h2>
        <p class="body">
          The Japan Institute of Design Promotion (JDP), established in 1969, is the only comprehensive organization for design promotion in Japan. JDP conducts various promotional activities, including hosting the 60th Good Design Award in 2016. JDP joined IFI in 2011.<br>
          <a href="http://www.jidp.or.jp">www.jidp.or.jp</a> Midtown Tower 5F, 9-7-1 Akasaka, Minato-ku, Tokyo, Japan
        </p>
      </div>
    </section>
    <section class="l-section about-section">
      <div class="l-section__inner">
        <h2 class="headline">EFFECT</h2>
        <h3 class="sub-headline">
          The Roles of Interior Design are the Creation of a Better Future Environment and Enrichment of Society and Culture
        </h3>
        <p class="body">
          &quot;World Interiors Week in JAPAN&quot; (WIW) is a week-long domestic event, launched in 2016, in response to the IFI’s &quot;World Interiors Day&quot; on the last Saturday in May each year, which is set as a day to consider the roles of interior designs under a common theme worldwide.<br>
          This movement is intended to actively deepen our understanding (including citizens) of the roles of interior designs in society, culture, and our future life and environment. In Japan, the event is held during a week including the last Saturday in May.<br>
          With their four missions and IFI’s global theme, JID and JDP (both IFI members) conduct various activities.
        </p>
        <h3 class="sub-headline">
          1. Supporting participation activities: &quot;Creating Together&quot;
        </h3>
        <h4 class="sub-sub-headline">
          Participatory voluntary event
        </h4>
        <p class="body">
          Specialists in interior design, dedicated with their creativity, imagination, vision, and passion, support the nationwide participatory voluntary event, in which they cooperate and actively take actions with citizens cherishing life and design devotees.
        </p>
        <h3 class="sub-headline">
          2. &quot;Connecting Japan and the World&quot;
        </h3>
        <h4 class="sub-sub-headline">
          World trend report
        </h4>
        <p class="body">
          Based in the Tokyo Midtown Design Hub, we transmit various information on activities and events. As part of a global platform, information on domestic large-scale events, international exhibits, and the latest trends related to interior design, in collaboration with various entities, businesses, and individuals, are transmitted.
        </p>
        <h3 class="sub-headline">
          3. Rediscovery of &quot;Designing Abilities&quot;
        </h3>
        <h4 class="sub-sub-headline">
          Special exhibits, including a life design exhibit, &quot;Designer’s Style&quot; 2016
        </h4>
        <p class="body">
          By introducing a wide range of contributions by designers, architects, and creators who are challenging creation, as well as by manufacturing companies, we provide an opportunity to enlighten design abilities by addressing &quot;designing&quot; in an efficient and economic manner.
        </p>
        <h3 class="sub-headline">
          4. Improvement of &quot;Quality of Life&quot;
        </h3>
        <h4 class="sub-sub-headline">
          World Interiors Day International Design Symposium
        </h4>
        <p class="body">
          For popularization and better understanding of &quot;World Interiors Day&quot; and &quot;IFI Interiors Declaration&quot;, an international design symposium is held on the last Saturday in May each year, which includes talking sessions following the global theme. Reconsideration of living environments by participants in various events may lead to improvements in quality of life and interior designs. The objective is the creation of a better future environment. The theme in 2016 was &quot;Interiors Intelligence&quot;, and in 2017 it is &quot;Interior Design for Generations&quot;.
        </p>
        <%# <p class="image">
          <img src="/images/network.png" alt="">
        </p>%>
      </div>
    </section>
    <section class="l-section about-section">
      <div class="l-section__inner">
        <h2 class="headline">BACKGROUND</h2>
        <h3 class="sub-headline">Japan and IFI</h3>
        <p class="body">
          Japan Interior Architects/Designers’ Association (JID) joined IFI in 1977, as the first Asian designer organization. Since then, JID’s representatives have participated in the biannual general meeting, contributing to development of Japanese interior designs.<br>
          Meanwhile, JID has actively engaged in IFI activities, such as publishing and human communications. At the 15th general meeting in 1995, JID hosted the international conference, supported by Nagoya-city, resulting in a remarkable success in the history of IFI with participants from 36 countries.<br>
          This triggered a significant increase in design consciousness, and the achievement of deeper understandings of interior designs in Japan.<br>
          JID sent board members to IFI for eight years beginning in 1993, and played a role in relation to international discussions and operation of IFI. JID took a special interest in the &quot;Interiors Declaration&quot; regarding the global interior designers’ function, as well as the awareness of and the effects of interior design.<br>
          In 2013, the IFI board meeting was held in Japan, as a part of IFI’s 50th anniversary event, along with the &quot;IFI Interior Design International Forum 2013&quot;. This brought opportunities for examining various tasks in today’s interior designs, sharing issues of related industries and design education internationally, and solving problems.<br>
          During this time, ceremonies were held for approval of the &quot;Interiors Declaration&quot;, approved by UNESCO, in Kobe-city and Nagoya-city.<br>
          Since FY 2014, JID has resumed sending a director to the IFI board of directors and addressed various issues from an international standpoint, which cannot be solved domestically, and has contributed internationally. The Japan Institute of Design Promotion (JDP) joined IFI in 2011.<br>
          Two Japanese organizations, JID and JDP, are members of IFI. Together, they promote development of interior environments and international activities.
        </p>
        <h3 class="sub-headline">About IFI</h3>
        <p class="body">
          The International Federation of Interior Architects/Designers is the global voice and authority for professional Interior Architects/Designers. IFI is the sole international federating body for Interior Architecture/Design organizations, and acts as a global forum for the exchange and development of knowledge and experience, in worldwide education, research and practice. Often considered as the &quot;United Nations&quot; of the Interior Architecture/Design field, IFI connects the international community in order to further the impact, influence and application of the design of interiors, promote global social responsibility, and raise the status of the profession worldwide.
        </p>
        <p class="body">
          Founded in Copenhagen, Denmark in 1963 as an international not-for-profit, the International Federation of Interior Architects/Designers (IFI) is the sole global authority for professional Interior Architects/Designers. Representing 270,000 designers, educators and industry stakeholders in the international design community in 110 countries [1], IFI furthers the dialogue exchange and development of knowledge and experience in education, research and practice, IFI impacts and influences the application of the design of interiors and the built environment.
        </p>
        <p class="body">
          1. inclusive of member countries who participate but are not formal members.
        </p>
        <p class="body">
          The current president is Sebastiano Renari (Italy). He was a former president of an Italian designer association, Associazione Italiana Progettisti in Architettura d’Interni (2008-2014).
        </p>
        <h3 class="sub-headline">About the &quot;IFI Interiors Declaration&quot;</h3>
        <p class="body">
          The declaration was submitted in 2009, and ratified at the IFI Taipei general meeting in 2011. It describes the global interior designers’ function, as well as the awareness of and the effects of interior design. The declaration is approved by UNESCO.<br>
          IFI aims to get approval of the declaration from cities in more than 50 countries. In Japan, Nagoya-city and Kobe-city approved the declaration in 2013. It has been approved and formally declared in 123 cities including Shanghai in 2016, and approvals by Helsinki (Finland), Izmir and Istanbul (Turkey), and Milan and Sicily (Italy) are expected in the future.
        </p>
        <h3 class="sub-headline">About &quot;World Interiors Day&quot;</h3>
        <p class="body">
          The last Saturday in May each year is proposed as the &quot;World Interiors Day&quot;, an annual event advocated by the IFI, for reconsidering interior design under a global theme.<br>
          It is an international event jointly held with participating countries worldwide, based on an idea that interior designs play an important role in the development of our future environment, and enrichment of society and culture. In cooperation with specialists (who are dedicated to the pursuit of creativity, imagination, vision, and passion), nationwide organizations, design devotees and citizens who cherish living, the event is for actively taking action.<br>
          The theme in 2015 was &quot;Design for All&quot;. A kickoff event in Japan was jointly held by JID and JDP on May 30 (Sat.). It was formally announced in the IFI general meeting on November 2015 that the theme would be &quot;Interiors Intelligence&quot; in 2016 and &quot;Interior Design for Generations&quot; in 2017.
        </p>
      </div>
    </section>
    <section class="l-section about-section">
      <div class="l-section__inner">
        <h2 class="headline">Accepting Applications for Participatory and Voluntary Events</h2>
        <p class="body">
          Term: 2017.5.25 (Thu)-31 (Wed)<br>
          Participatory and Voluntary Events Created Together<br>
          Under IFI’s common theme, we share a nationwide movement with the world<br>
          Our individual power develops the future<br>
          IFI’s global theme in 2017 is &quot;Interior Design for Generations&quot;<br>
          Sharing the theme with IFI members worldwide<br>
          Plan and participate in the week to consider interior designs and living.<br>
          By using the Tokyo Midtown Design Hub as the main site, the event is held throughout Japan. Participants (including designers, architects, businesses, nationwide organizations/entities, local governments, and design devotees) will hold various events throughout Japan, mainly around Tokyo, Yokohama, Nagoya, Osaka, Kobe and Fukuoka during the term.<br>
          Term is from May 25 (Thu) to May 31 (Wed), 2017.
        </p>
        <h3 class="sub-headline">About Participation Planning</h3>
        <p class="body">
          Various forms of participation during WIW term<br>
          Anyone who agrees with the intent of the &quot;World Interiors Week 2017 in JAPAN&quot; can voluntarily submit an entry for participation planning.<br>
          Develop volunteer activities during the WIW term. From an event involving an entire large city, to small table discussions, a variety of participation is possible with various types, scales, locations, and forms. We are looking for your entries for participation to act with us in order to create affluent living.<br>
          We welcome the events shown below:<br>
          ・Design-promoting events at sales offices<br>
          ・Workshops by designers for housewives and children<br>
          ・&quot;Feature articles&quot; in magazines<br>
          ・Public seminars at educational institutes, etc.<br>
          Feel free to contact us via <a href="/form_contact/">this form</a> regarding participation planning and other information.
        </p>
        <h3 class="sub-headline">Support for Participation Planning</h3>
        <p class="body">
          Through your own design event, your efforts for affluent living may reach citizens.<br>
          1. Provision of the official logo<br>
          Organizers of the project may use the name and official logo of the &quot;World Interiors Week 2017 in JAPAN&quot; for publicity (e.g. posters, pamphlets, websites, signs, boards, banners, and publications).<br>
          2. The project will be posted on our website.<br>
          3. The official poster of &quot;World Interiors Week 2017 in JAPAN&quot; will be provided (one sheet).<br>
          Apply via this <a href="/form_entry_1/">Entry Form</a> after agreeing to the conditions for participation.
        </p>
      </div>
    </section>
<% include ../_footer %>
